In [ ]:
print(12)

12

In [ ]:
age = 35
print(age%5 == 0)

True

In [ ]:
age = 35
print(age%5,age%7 == 0)

0 True

In [ ]:
age = 35
print()

1. print

In [ ]:
print(12)
print(12.5)
print(55)
print("Amanullah Chand")
print(True)
print()
print(12.5, 2, True, "Amanullah Chand")

12
12.5
55
Amanullah Chand
True

12.5 2 True Amanullah Chand

2. Type

In [ ]:
print(type(12))
print(type(12.5))
print(type('12.5'))
print(type('Aman'))
print(type(True))
print(type('True'))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'str'>
<class 'bool'>
<class 'str'>

3. Operators

3.1) Arithmetic

3.1.1) Int - Int

In [ ]:
print(12+5)
print(12-5)
print(12*5)
print(12/5)
print(12//5)
print(12%5)
print(12**5)

17
7
60
2.4
2
2
248832

3.1.2) Int - Float

In [ ]:
print(12+5.2)
print(12-5.2)
print(12*5.2)
print(12/5.2)
print(12//5.2)
print(12%5.2)
print(12**5.2)

17.2
6.8
62.400000000000006
2.3076923076923075
2.0
1.5999999999999996
409018.0552424305

3.1.3) Int - String

In [ ]:

print(12*'Amanullah')

AmanullahAmanullahAmanullahAmanullahAmanullahAmanullahAmanullahAmanullahAmanullahAmanullahAmanullahAmanullah

3.1.4) Int - Boolean

In [ ]:
print(12+True)
print(12-False)
print(12*True)
print(12/True)
print(12//True)
print(12%True)
print(12**True)

13
12
12
12.0
12
0
12

In [ ]:
print(False*'Ashish')

3.2) Comparison

In [ ]:
print(10>5)
print(10<5)
# print(a=5)
print(10==5)
print(10!=5)
print(5>=5)
print(5>5)
print(10<=5)

True
False
False
True
True
False
False

3.3) Logical

In [ ]:
n = 70

print((n%7 == 0) and (n%5 == 0))
print((n%7 == 0) or (n%5 == 0))

print((n%7 == 0) and (n%5 == 0) and not (n%9 == 0))
print((n%7 == 0) and (n%5 == 0) and not (n%9 == 0) and (n%2 == 0))

True
True
True
True

4.1) Typecasting

In [ ]:
print(int(12.99999))
print(int('4623'))
print(int(True))
print(int(False))

12
4623
1
0

4.2) Float

In [ ]:
print(float(12))
print(float('462332'))
print(float(True))
print(float(False))

12.0
462332.0
1.0
0.0

4.3) Boolean

In [7]:
print(bool(0))
print(bool(0.0000))
print(bool(' '))
print(bool(12))
print(bool('Aman'))
print(bool(-12))
print(bool(''))
print(bool(0))

False
False
True
True
True
True
False
False

a = 1
b = 2
c = 3

print
(a,b,c)

In [ ]:
print('a,b,c')

#1. Number is Even or Odd
#2. Number is divisible by 5&7 but not and must be off  between(0,100)

In [ ]:
n = int(input())
if (n%2 == 0):
  print('Divisible')
else:
  print('Not Divisible')

6
Divisible

In [ ]:
# 2. Number is divisible by 5&7 but not 9 and must be off between (0,100)
n = int(input())
 if (n%)

5 - 5 not 7 not 9
7 - 7 not 5 not 9
9 - 9 not 5 not 7
(5,7) - not 9
(5,9) - not 7
(9,7) - not 5

In [ ]:
n = 35

if n <= 100 and n>= 0:
  if n%5 == 0 and n%7 == 0 or n%9 == 0:
    print ('by 5 not 7 not 9')
  elif n%7 == 0:
    print ('by 7 not 5 not 9')
  elif n%9 == 0:
    print ('by 9 not 7 not 9')

else:
  print('Not in range')

by 5 not 7 not 9

### 2. type

In [1]:
print(type(12))
print(type(12.5))
print(type('Aman'))
print(type(True))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>

### 3. Operators

#### 3.1) Arithmetic

####3.1.2) Int - Float

### 4. typecasting

### 4.1) Int

In [5]:
print(12+5)
print(12-5)
print(12*5)
print(12/5)
print(12//5)
print(12%5)
print(12**12)

17
7
60
2.4
2
2
8916100448256

In [12]:
print ('\n\tAMANULLAH')
print ('CHAND')

	AMANULLAH
CHAND

In [13]:
print(11, 2.5, True, 'Amanullah')

11 2.5 True Amanullah