In [ ]:
print(12)

12

In [ ]:
age = 35
print(age%5 == 0)

True

In [ ]:
age = 35
print(age%5,age%7 == 0)

0 True

In [ ]:
age = 35
print()

#### 1. print

In [ ]:
print(12)
print(12.5)
print(55)
print("Amanullah Chand")
print(True)
print()
print(12.5, 2, True, "Amanullah Chand")

12
12.5
55
Amanullah Chand
True

12.5 2 True Amanullah Chand

2. Type

In [ ]:
print(type(12))
print(type(12.5))
print(type('12.5'))
print(type('Aman'))
print(type(True))
print(type('True'))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'str'>
<class 'bool'>
<class 'str'>

3. Operators

3.1) Arithmetic

3.1.1) Int - Int

In [ ]:
print(12+5)
print(12-5)
print(12*5)
print(12/5)
print(12//5)
print(12%5)
print(12**5)

17
7
60
2.4
2
2
248832

3.1.2) Int - Float

In [ ]:
print(12+5.2)
print(12-5.2)
print(12*5.2)
print(12/5.2)
print(12//5.2)
print(12%5.2)
print(12**5.2)

17.2
6.8
62.400000000000006
2.3076923076923075
2.0
1.5999999999999996
409018.0552424305

3.1.3) Int - String

In [ ]:

print(12*'Amanullah')

AmanullahAmanullahAmanullahAmanullahAmanullahAmanullahAmanullahAmanullahAmanullahAmanullahAmanullahAmanullah

3.1.4) Int - Boolean

In [ ]:
print(12+True)
print(12-False)
print(12*True)
print(12/True)
print(12//True)
print(12%True)
print(12**True)

13
12
12
12.0
12
0
12

In [ ]:
print(False*'Ashish')

3.2) Comparison

In [ ]:
print(10>5)
print(10<5)
# print(a=5)
print(10==5)
print(10!=5)
print(5>=5)
print(5>5)
print(10<=5)

True
False
False
True
True
False
False

3.3) Logical

In [ ]:
n = 70

print((n%7 == 0) and (n%5 == 0))
print((n%7 == 0) or (n%5 == 0))

print((n%7 == 0) and (n%5 == 0) and not (n%9 == 0))
print((n%7 == 0) and (n%5 == 0) and not (n%9 == 0) and (n%2 == 0))

True
True
True
True

4.1) Typecasting

In [ ]:
print(int(12.99999))
print(int('4623'))
print(int(True))
print(int(False))

12
4623
1
0

4.2) Float

In [ ]:
print(float(12))
print(float('462332'))
print(float(True))
print(float(False))

12.0
462332.0
1.0
0.0

4.3) Boolean

In [ ]:
print(bool(0))
print(bool(0.0000))
print(bool(' '))
print(bool(12))
print(bool('Aman'))
print(bool(-12))
print(bool(''))
print(bool(0))

False
False
True
True
True
True
False
False

a = 1
b = 2
c = 3

print
(a,b,c)

In [ ]:
print('a,b,c')

# 1. Number is Even or Odd

In [ ]:
n = int(input())
if (n%2 == 0):
  print('Divisible')
else:
  print('Not Divisible')

In [ ]:
# 2. Number is divisible by 5&7 but not 9 and must be off between (0,100)
n = int(input())
 if (n%)

# 2. Number is divisible by 5&7 but not and must be off  between(0,100)

5 - 5 not 7 not 9
7 - 7 not 5 not 9
9 - 9 not 5 not 7
(5,7) - not 9
(5,9) - not 7
(9,7) - not 5

In [ ]:
n = 35

if n <= 100 and n>= 0:
  if n%5 == 0 and n%7 == 0 or n%9 == 0:
    print ('by 5 not 7 not 9')
  elif n%7 == 0:
    print ('by 7 not 5 not 9')
  elif n%9 == 0:
    print ('by 9 not 7 not 9')

else:
  print('Not in range')

# Find the sum of first 1000 natural numbers.

In [ ]:
n = 1000
for i in range(n):
  n = n+i
print(n)

500500

In [ ]:
n = 1000000000

s = n*((n+1)/2)

print(s)

5.000000005e+17

In [ ]:
n = 0
for i in range(1,1001):
  n = n+i
print(n)

500500

### 2. type

In [ ]:
print(type(12))
print(type(12.5))
print(type('Aman'))
print(type(True))

### 3. Operators

#### 3.1) Arithmetic

####3.1.2) Int - Float

### 4. typecasting

### 4.1) Int

In [ ]:
print(12+5)
print(12-5)
print(12*5)
print(12/5)
print(12//5)
print(12%5)
print(12**12)

In [ ]:
print ('\n\tAMANULLAH')
print ('CHAND')

In [ ]:
print(11, 2.5, True, 'Amanullah')

### 5. Conditionals

In [ ]:
n = 35
if (n%5 == 0) and (n%7 == 0):
  print('Divisible')

Divisible

#Find a number which is divisible by 5 & 7 between 1-100

In [ ]:
for n in range(1,101):

  if n%5 == 0 and n%7 == 0:
    print(n)

35
70

## Palindrom - A number which is same in count/read from both(left and right) side. eg - 12321, asdsa, abcba, nitin etc

In [ ]:
n = 12321
n = str(n)
rev = n[::-1]

if (n == rev):
  print('Palindrom')

Palindrom

In [ ]:
name = 'Aman'

print(name[-1])

n

In [ ]:
name = 'Aman'

print(name[-2])

a

In [ ]:
name = 'Aman'

print(name[-3])

m

In [ ]:
name = 'Amasjdbcuiasdh'
print(name[len(name)-5])

i

In [ ]:
name = 'Amasjdbcuiasdh'
print(name[len(name)-8])

b

In [ ]:
name = 'Amanullah'
print(name[1:-1])

manulla

In [ ]:
name = 'Amanullah'
print(name[::-2])

hluaA

In [ ]:
name = 'Amanullah kjaskjbs kajbskjbcs ajbduiagsc sn zxkuh sdjbxvj'
print(name[::-2])

jxjshkzn saubasbkba bkakhluaA

In [ ]:
n = 45
if (n%5 == 0) and (n%7 == 0):
  print('Divisible')

if (n%5 != 0) and (n%7 != 0):
  print('Not Divisible')

In [ ]:
n = 32

if (n%5 == 0) and (n%7 == 0):
  print('Divisible')

else:
  print('Not Divisible')

In [ ]:
if True:
 print ('Divisible')

In [ ]:
n = 10
if True:
 print ('Divisible')

In [ ]:
n = 12
if True:
 print ('Divisible')

a = 3 b = 2, c = 1. type them in one

In [ ]:
a = 3
b = 2
c = 1
print(str(a) + str(b) + str(c))

In [ ]:
a = 3
b = 2
c = 1
print(a, end = '')
print(b, end = '')
print(c)

5 - 5 not 7 not 9 7 - 7 not 5 not 9 9 - 9 not 5 not 7 (5,7) - not 9 (5,9) - not 7 (9,7) - not 5

In [ ]:
n = 35

if n <= 100 and n>= 0:
  if n%5 == 0 and n%7 == 0 or n%9 == 0:
    print ('by 5 not 7 not 9')
  elif n%7 == 0:
    print ('by 7 not 5 not 9')
  elif n%9 == 0:
    print ('by 9 not 7 not 9')

else:
  print('Not in range')

1. Number is Even or Odd

In [ ]:
n = 13

if n%2 == 0:
 print ('Even')
else:
  print ('Odd')

Odd

In [ ]:
n = int(input ('Enter a Number:'))

if n%2 == 0:
 print ('Even')
else:
  print ('Odd')

In [ ]:
## 2. Number is divisible by 5 & 7 but not 9 and must be off between (0,100)
n = int(input ('Enter a number:'))
if (n>0) and (n<=100) and (n%5==0) and (n%7==0) and (n%9!= 0):
  print ('Divisible')

else:
  print ('Not Divisible')

In [ ]:
## 2. Number is divisible by 5 or 7 but not 9 and must be off between (0,100)
n = int(input ('Enter a number:'))
if (n>0) and (n<=100) and ((n%5==0) or (n%7==0)) and (n%9!= 0):
  print ('Divisible')

else:
  print ('Not Divisible')

In [ ]:
n = 15
if (n%5 == 0):
  print('by 5')
if (n%7 == 0):
  print('by 7')

In [ ]:
n = 35

if (n%5 == 0):
  print('by 5')
elif (n%7 == 0):
  print('by 7')
elif ('by 9')
  print ('by 9')

In [ ]:
n = 35
if (n%5 == 0):
  print('by 5')
if (n%7 == 0):
  print('by 7')
if (n%9 == 0):
  print('by 9')

In [ ]:
n = 3512

if (n%5 == 0):
  print('by 5')
elif (n%7 == 0):
  print('by 7')
elif (n%9 == 0):
  print ('by 9')
else:
  print('Sorry')

Sorry

In [ ]:
if (n>=0) and (n<=100) and ((n%5 == 0) or (n%7 == 0)) and not (n%9 == 0):
  print('Divisible')

In [ ]:
n = 13
if n<= 100 and n>= 0:
  if n%5 == 0:
    print('by 5')
  elif n%7 ==0:
    print('by 7')
  elif n%9 == 0:
    print('by 9')
  else:
    print('Not 5,7,9')
else:
  print('Not in Range')

Not 5,7,9

### 6. Loops

In [ ]:
n = 13
for i in range(1,11):
  print(n,'*',i,'=',n*i)

13 * 1 = 13
13 * 2 = 26
13 * 3 = 39
13 * 4 = 52
13 * 5 = 65
13 * 6 = 78
13 * 7 = 91
13 * 8 = 104
13 * 9 = 117
13 * 10 = 130

In [ ]:
for i in range(5,51,5):
  print(i)

5
10
15
20
25
30
35
40
45
50

In [ ]:
n= 19
for i in range(n,n*10 + 1,n):
  print(i)

19
38
57
76
95
114
133
152
171
190

In [ ]:
n = 19
for i in range(1,11, 19):
  print(i,'*',i, '=', n*i)

1 * 1 = 19
2 * 2 = 38
3 * 3 = 57
4 * 4 = 76
5 * 5 = 95
6 * 6 = 114
7 * 7 = 133
8 * 8 = 152
9 * 9 = 171
10 * 10 = 190

In [ ]:
n = 19
for i in range(n*10,n-1,-n):
  print(n)

19
19
19
19
19
19
19
19
19
19

In [ ]:
n = 100
for i in range(1,101):
  print(n*(n+1)/5)

2020.0
2020.0
2020.0
2020.0
2020.0
2020.0
2020.0
2020.0
2020.0
2020.0
2020.0
2020.0
2020.0
2020.0
2020.0
2020.0
2020.0
2020.0
2020.0
2020.0
2020.0
2020.0
2020.0
2020.0
2020.0
2020.0
2020.0
2020.0
2020.0
2020.0
2020.0
2020.0
2020.0
2020.0
2020.0
2020.0
2020.0
2020.0
2020.0
2020.0
2020.0
2020.0
2020.0
2020.0
2020.0
2020.0
2020.0
2020.0
2020.0
2020.0
2020.0
2020.0
2020.0
2020.0
2020.0
2020.0
2020.0
2020.0
2020.0
2020.0
2020.0
2020.0
2020.0
2020.0
2020.0
2020.0
2020.0
2020.0
2020.0
2020.0
2020.0
2020.0
2020.0
2020.0
2020.0
2020.0
2020.0
2020.0
2020.0
2020.0
2020.0
2020.0
2020.0
2020.0
2020.0
2020.0
2020.0
2020.0
2020.0
2020.0
2020.0
2020.0
2020.0
2020.0
2020.0
2020.0
2020.0
2020.0
2020.0
2020.0

In [ ]:
n = 1000
for i in range(n):
  n = n + i
print(n)

500500

In [ ]:
n = 13416516459

isPrime = True

for i in range(2,n):
  if (n%i==0):
    print(i)
    isPrime = False
    break

if isPrime == False:
    print('Prime')
else:
  print('nap')

3
Prime

In [ ]:
for n in range(2,1001):
  isPrime = True

  for i in range(2,n):
    if (n%i == 0):
      isPrime = False
      break

if isPrime:
  print(n)

In [ ]:
count = 0

for n in range(2,1001):

  isPrime = True

  for i in range(2,n):
    if (n%i == 0):
      isPrime = False
      break

    if isPrime:
      count += 1
  print(count)

0
1
1
4
4
9
9
10
10
19
19
30
30
31
31
46
46
63
63
64
64
85
85
88
88
89
89
116
116
145
145
146
146
149
149
184
184
185
185
224
224
265
265
266
266
311
311
316
316
317
317
368
368
371
371
372
372
429
429
488
488
489
489
492
492
557
557
558
558
627
627
698
698
699
699
704
704
781
781
782
782
863
863
866
866
867
867
954
954
959
959
960
960
963
963
1058
1058
1059
1059
1158
1158
1259
1259
1260
1260
1365
1365
1472
1472
1473
1473
1584
1584
1587
1587
1588
1588
1593
1593
1602
1602
1603
1603
1606
1606
1731
1731
1732
1732
1861
1861
1866
1866
1867
1867
2002
2002
2139
2139
2140
2140
2149
2149
2152
2152
2153
2153
2300
2300
2449
2449
2450
2450
2453
2453
2608
2608
2609
2609
2614
2614
2775
2775
2776
2776
2941
2941
2952
2952
2953
2953
3124
3124
3127
3127
3128
3128
3305
3305
3484
3484
3485
3485
3488
3488
3497
3497
3498
3498
3687
3687
3878
3878
3879
3879
4074
4074
4271
4271
4272
4272
4277
4277
4280
4280
4281
4281
4290
4290
4499
4499
4500
4500
4503
4503
4508
4508
4509
4509
4520
4520
4741
4741
4742
4742
4967
4967
5194
5194
5195
5195
5426
5426
5429
5429
5430
5430
5667
5667
5906
5906
5907
5907
5910
5910
5921
5921
5922
5922
6171
6171
6180
6180
6181
6181
6436
6436
6441
6441
6442
6442
6703
6703
6706
6706
6707
6707
6974
6974
7243
7243
7244
7244
7247
7247
7522
7522
7523
7523
7802
7802
8083
8083
8084
8084
8089
8089
8104
8104
8105
8105
8396
8396
8399
8399
8400
8400
8411
8411
8416
8416
8417
8417
8420
8420
8725
8725
8726
8726
9035
9035
9346
9346
9347
9347
9662
9662
9671
9671
9672
9672
9687
9687
9690
9690
9691
9691
9696
9696
10025
10025
10026
10026
10029
10029
10364
10364
10365
10365
10374
10374
10379
10379
10380
10380
10725
10725
11072
11072
11073
11073
11424
11424
11427
11427
11428
11428
11785
11785
11802
11802
11803
11803
11806
11806
12171
12171
12172
12172
12177
12177
12548
12548
12549
12549
12560
12560
12937
12937
12938
12938
13319
13319
13322
13322
13323
13323
13710
13710
13725
13725
13726
13726
13729
13729
14124
14124
14125
14125
14524
14524
14535
14535
14536
14536
14545
14545
14952
14952
14953
14953
14958
14958
14961
14961
14962
14962
15379
15379
15798
15798
15799
15799
15802
15802
15807
15807
15808
15808
16237
16237
16668
16668
16669
16669
16686
16686
17123
17123
17124
17124
17565
17565
17568
17568
17569
17569
18016
18016
18025
18025
18026
18026
18029
18029
18484
18484
18485
18485
18944
18944
19405
19405
19406
19406
19871
19871
19876
19876
19877
19877
19886
19886
19889
19889
19890
19890
20367
20367
20378
20378
20379
20379
20382
20382
20867
20867
20868
20868
21357
21357
21372
21372
21373
21373
21378
21378
21875
21875
21876
21876
22377
22377
22380
22380
22381
22381
22888
22888
22893
22893
22894
22894
22897
22897
22906
22906
22907
22907
23426
23426
23947
23947
23948
23948
23963
23963
23984
23984
23985
23985
23996
23996
23999
23999
24000
24000
24005
24005
24544
24544
24545
24545
24548
24548
25093
25093
25094
25094
25111
25111
25116
25116
25117
25117
25672
25672
25683
25683
25684
25684
26245
26245
26248
26248
26249
26249
26816
26816
27385
27385
27386
27386
27389
27389
27964
27964
27965
27965
27970
27970
27979
27979
27980
27980
28565
28565
28582
28582
28583
28583
29174
29174
29177
29177
29178
29178
29775
29775
30374
30374
30375
30375
30378
30378
30983
30983
30984
30984
30995
30995
31606
31606
31607
31607
32222
32222
32839
32839
32840
32840
32845
32845
32848
32848
32849
32849
32864
32864
33493
33493
33494
33494
33497
33497
33502
33502
33503
33503
34142
34142
34783
34783
34784
34784
35429
35429
35438
35438
35439
35439
36090
36090
36093
36093
36094
36094
36751
36751
37410
37410
37411
37411
37414
37414
37435
37435
37436
37436
37445
37445
38116
38116
38117
38117
38792
38792
38797
38797
38798
38798
39479
39479
39482
39482
39483
39483
39494
39494
40183
40183
40184
40184
40187
40187
40202
40202
40203
40203
40902
40902
40919
40919
40920
40920
40925
40925
41632
41632
41633
41633
41654
41654
41657
41657
41658
41658
42375
42375
42380
42380
42381
42381
42384
42384
43109
43109
43110
43110
43125
43125
43856
43856
43857
43857
43866
43866
44603
44603
44604
44604
45345
45345
45348
45348
45349
45349
45354
45354
46103
46103
46104
46104
46107
46107
46862
46862
46863
46863
47622
47622
47627
47627
47628
47628
47639
47639
48406
48406
48407
48407
49178
49178
49181
49181
49182
49182
49199
49199
49208
49208
49209
49209
49212
49212
49997
49997
49998
49998
50003
50003
50014
50014
50015
50015
50810
50810
50825
50825
50826
50826
50835
50835
50838
50838
50839
50839
51646
51646
52455
52455
52456
52456
52459
52459
52476
52476
52477
52477
53296
53296
54117
54117
54118
54118
54943
54943
55770
55770
55771
55771
55776
55776
55779
55779
55780
55780
56617
56617
56644
56644
56645
56645
56648
56648
56653
56653
56654
56654
56675
56675
57526
57526
57527
57527
58382
58382
59239
59239
59240
59240
60101
60101
60104
60104
60105
60105
60114
60114
60125
60125
60126
60126
60129
60129
61004
61004
61005
61005
61884
61884
62765
62765
62766
62766
63651
63651
63656
63656
63657
63657
63674
63674
63677
63677
63678
63678
63705
63705
63720
63720
63721
63721
63724
63724
64629
64629
64630
64630
65539
65539
65548
65548
65549
65549
65554
65554
66471
66471
66472
66472
66483
66483
66486
66486
66487
66487
67414
67414
67419
67419
67420
67420
67423
67423
68358
68358
68359
68359
69298
69298
69319
69319
69320
69320
70265
70265
70276
70276
70277
70277
71228
71228
71231
71231
71232
71232
71237
71237
71266
71266
71267
71267
71270
71270
72235
72235
72236
72236
73205
73205
73210
73210
73211
73211
74186
74186
74195
74195
74196
74196
75177
75177
75180
75180
75181
75181
75202
75202
76191
76191
76192
76192
76195
76195
77190
77190
77191
77191

In [ ]:
n = 3
IsPrime = True

for i in range(n):

SyntaxError: expected ':' (<ipython-input-21-0421da7b6eca>, line 4)

In [ ]:
for i in range(2,n):
  if (n%i == 0):
    print(i)
    isprime = False
    break
if isPrime:
  print('Prime')
else:
  print('nap')

2
Prime

In [ ]:
n = 3
isPrime = True
for i in range(2,n):
  if (n%i == 0):
    print(i)
    isprime = False
    break

if isPrime:
  print('Prime')
else:
  print('nap')

Prime

In [ ]:
for n in range (2,1001):
  isPrime = True

  for i in range(2,n):
    if (n%i == 0):
      isprime = False
      break

  if isPrime:
    print(n)

2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183
184
185
186
187
188
189
190
191
192
193
194
195
196
197
198
199
200
201
202
203
204
205
206
207
208
209
210
211
212
213
214
215
216
217
218
219
220
221
222
223
224
225
226
227
228
229
230
231
232
233
234
235
236
237
238
239
240
241
242
243
244
245
246
247
248
249
250
251
252
253
254
255
256
257
258
259
260
261
262
263
264
265
266
267
268
269
270
271
272
273
274
275
276
277
278
279
280
281
282
283
284
285
286
287
288
289
290
291
292
293
294
295
296
297
298
299
300
301
302
303
304
305
306
307
308
309
310
311
312
313
314
315
316
317
318
319
320
321
322
323
324
325
326
327
328
329
330
331
332
333
334
335
336
337
338
339
340
341
342
343
344
345
346
347
348
349
350
351
352
353
354
355
356
357
358
359
360
361
362
363
364
365
366
367
368
369
370
371
372
373
374
375
376
377
378
379
380
381
382
383
384
385
386
387
388
389
390
391
392
393
394
395
396
397
398
399
400
401
402
403
404
405
406
407
408
409
410
411
412
413
414
415
416
417
418
419
420
421
422
423
424
425
426
427
428
429
430
431
432
433
434
435
436
437
438
439
440
441
442
443
444
445
446
447
448
449
450
451
452
453
454
455
456
457
458
459
460
461
462
463
464
465
466
467
468
469
470
471
472
473
474
475
476
477
478
479
480
481
482
483
484
485
486
487
488
489
490
491
492
493
494
495
496
497
498
499
500
501
502
503
504
505
506
507
508
509
510
511
512
513
514
515
516
517
518
519
520
521
522
523
524
525
526
527
528
529
530
531
532
533
534
535
536
537
538
539
540
541
542
543
544
545
546
547
548
549
550
551
552
553
554
555
556
557
558
559
560
561
562
563
564
565
566
567
568
569
570
571
572
573
574
575
576
577
578
579
580
581
582
583
584
585
586
587
588
589
590
591
592
593
594
595
596
597
598
599
600
601
602
603
604
605
606
607
608
609
610
611
612
613
614
615
616
617
618
619
620
621
622
623
624
625
626
627
628
629
630
631
632
633
634
635
636
637
638
639
640
641
642
643
644
645
646
647
648
649
650
651
652
653
654
655
656
657
658
659
660
661
662
663
664
665
666
667
668
669
670
671
672
673
674
675
676
677
678
679
680
681
682
683
684
685
686
687
688
689
690
691
692
693
694
695
696
697
698
699
700
701
702
703
704
705
706
707
708
709
710
711
712
713
714
715
716
717
718
719
720
721
722
723
724
725
726
727
728
729
730
731
732
733
734
735
736
737
738
739
740
741
742
743
744
745
746
747
748
749
750
751
752
753
754
755
756
757
758
759
760
761
762
763
764
765
766
767
768
769
770
771
772
773
774
775
776
777
778
779
780
781
782
783
784
785
786
787
788
789
790
791
792
793
794
795
796
797
798
799
800
801
802
803
804
805
806
807
808
809
810
811
812
813
814
815
816
817
818
819
820
821
822
823
824
825
826
827
828
829
830
831
832
833
834
835
836
837
838
839
840
841
842
843
844
845
846
847
848
849
850
851
852
853
854
855
856
857
858
859
860
861
862
863
864
865
866
867
868
869
870
871
872
873
874
875
876
877
878
879
880
881
882
883
884
885
886
887
888
889
890
891
892
893
894
895
896
897
898
899
900
901
902
903
904
905
906
907
908
909
910
911
912
913
914
915
916
917
918
919
920
921
922
923
924
925
926
927
928
929
930
931
932
933
934
935
936
937
938
939
940
941
942
943
944
945
946
947
948
949
950
951
952
953
954
955
956
957
958
959
960
961
962
963
964
965
966
967
968
969
970
971
972
973
974
975
976
977
978
979
980
981
982
983
984
985
986
987
988
989
990
991
992
993
994
995
996
997
998
999
1000

In [ ]:
for n in range (2,1001):
  isPrime = True

  for i in range(2,n):
    if (n%i == 0):
      isprime = False
      break

  if isPrime:
   print(n)

2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183
184
185
186
187
188
189
190
191
192
193
194
195
196
197
198
199
200
201
202
203
204
205
206
207
208
209
210
211
212
213
214
215
216
217
218
219
220
221
222
223
224
225
226
227
228
229
230
231
232
233
234
235
236
237
238
239
240
241
242
243
244
245
246
247
248
249
250
251
252
253
254
255
256
257
258
259
260
261
262
263
264
265
266
267
268
269
270
271
272
273
274
275
276
277
278
279
280
281
282
283
284
285
286
287
288
289
290
291
292
293
294
295
296
297
298
299
300
301
302
303
304
305
306
307
308
309
310
311
312
313
314
315
316
317
318
319
320
321
322
323
324
325
326
327
328
329
330
331
332
333
334
335
336
337
338
339
340
341
342
343
344
345
346
347
348
349
350
351
352
353
354
355
356
357
358
359
360
361
362
363
364
365
366
367
368
369
370
371
372
373
374
375
376
377
378
379
380
381
382
383
384
385
386
387
388
389
390
391
392
393
394
395
396
397
398
399
400
401
402
403
404
405
406
407
408
409
410
411
412
413
414
415
416
417
418
419
420
421
422
423
424
425
426
427
428
429
430
431
432
433
434
435
436
437
438
439
440
441
442
443
444
445
446
447
448
449
450
451
452
453
454
455
456
457
458
459
460
461
462
463
464
465
466
467
468
469
470
471
472
473
474
475
476
477
478
479
480
481
482
483
484
485
486
487
488
489
490
491
492
493
494
495
496
497
498
499
500
501
502
503
504
505
506
507
508
509
510
511
512
513
514
515
516
517
518
519
520
521
522
523
524
525
526
527
528
529
530
531
532
533
534
535
536
537
538
539
540
541
542
543
544
545
546
547
548
549
550
551
552
553
554
555
556
557
558
559
560
561
562
563
564
565
566
567
568
569
570
571
572
573
574
575
576
577
578
579
580
581
582
583
584
585
586
587
588
589
590
591
592
593
594
595
596
597
598
599
600
601
602
603
604
605
606
607
608
609
610
611
612
613
614
615
616
617
618
619
620
621
622
623
624
625
626
627
628
629
630
631
632
633
634
635
636
637
638
639
640
641
642
643
644
645
646
647
648
649
650
651
652
653
654
655
656
657
658
659
660
661
662
663
664
665
666
667
668
669
670
671
672
673
674
675
676
677
678
679
680
681
682
683
684
685
686
687
688
689
690
691
692
693
694
695
696
697
698
699
700
701
702
703
704
705
706
707
708
709
710
711
712
713
714
715
716
717
718
719
720
721
722
723
724
725
726
727
728
729
730
731
732
733
734
735
736
737
738
739
740
741
742
743
744
745
746
747
748
749
750
751
752
753
754
755
756
757
758
759
760
761
762
763
764
765
766
767
768
769
770
771
772
773
774
775
776
777
778
779
780
781
782
783
784
785
786
787
788
789
790
791
792
793
794
795
796
797
798
799
800
801
802
803
804
805
806
807
808
809
810
811
812
813
814
815
816
817
818
819
820
821
822
823
824
825
826
827
828
829
830
831
832
833
834
835
836
837
838
839
840
841
842
843
844
845
846
847
848
849
850
851
852
853
854
855
856
857
858
859
860
861
862
863
864
865
866
867
868
869
870
871
872
873
874
875
876
877
878
879
880
881
882
883
884
885
886
887
888
889
890
891
892
893
894
895
896
897
898
899
900
901
902
903
904
905
906
907
908
909
910
911
912
913
914
915
916
917
918
919
920
921
922
923
924
925
926
927
928
929
930
931
932
933
934
935
936
937
938
939
940
941
942
943
944
945
946
947
948
949
950
951
952
953
954
955
956
957
958
959
960
961
962
963
964
965
966
967
968
969
970
971
972
973
974
975
976
977
978
979
980
981
982
983
984
985
986
987
988
989
990
991
992
993
994
995
996
997
998
999
1000

In [ ]:
count = 0
for n in range (2,1001):
  isPrime = True

  for i in range(2,n):
    if (n%i == 0):
      isprime = False
      break

  if isPrime:
   count += 2

print(count)

1998

In [ ]:
for i in range(1,7):
  for j in range(1,7):
    print(i,j)

1 1
1 2
1 3
1 4
1 5
1 6
2 1
2 2
2 3
2 4
2 5
2 6
3 1
3 2
3 3
3 4
3 5
3 6
4 1
4 2
4 3
4 4
4 5
4 6
5 1
5 2
5 3
5 4
5 5
5 6
6 1
6 2
6 3
6 4
6 5
6 6

In [ ]:
n = 5
for n in range (1,7):
  for j in range(1,7):
    if i+j == 5:
      print(i,j)

2 3
2 3
2 3
2 3
2 3
2 3

In [ ]:
n = 5
for n in range (1,7):
  for j in range(1,7):
    if i+j == n:
      print(i,j)

2 1
2 2
2 3
2 4

In [ ]:
n = 5
count = 0

for n in range (1,7):
  for j in range(1,7):
    if i+j == n:
      count += 1
      print(i,j)
print(n, str(round((count/36)*100,2))+'%')

2 1
2 2
2 3
2 4
6 11.11%

In [ ]:
n = 5
count = 0

for n in range (1,7):
  for j in range(1,7):
    if i+j == n:
      count += 1
      print(i,j)
print(n, str(round((count/36)*100,2))+'%')

In [ ]:
name = 'Amanansn zackhaslkhfasdjnv34364633248049858Y(8())'
for i in name:
  print(i)

A
m
a
n
a
n
s
n

z
a
c
k
h
a
s
l
k
h
f
a
s
d
j
n
v
3
4
3
6
4
6
3
3
2
4
8
0
4
9
8
5
8
Y
(
8
(
)
)

In [ ]:
text = 'skdfglshkscv uhvszl knvkuw fi eoianzjxbvjcbv'
v = 0
c = 0

for i in text:
  if i in 'ajadsjahshUUHhi'

In [ ]:
n= 0
for i in range (1,11):
  print(i)

1
2
3
4
5
6
7
8
9
10

In [ ]:
n = 0
for i in range (1,11):

  # print(n,i)
  n = n + i

print(n)

55

In [ ]:
for i in range(1,7):
  for j in range(1,7):
    print(i,j)
  print('-')

1 1
1 2
1 3
1 4
1 5
1 6
-
2 1
2 2
2 3
2 4
2 5
2 6
-
3 1
3 2
3 3
3 4
3 5
3 6
-
4 1
4 2
4 3
4 4
4 5
4 6
-
5 1
5 2
5 3
5 4
5 5
5 6
-
6 1
6 2
6 3
6 4
6 5
6 6
-

In [ ]:
for i in range(1,7):
  for j in range(1,7):
    if i + j == 5:
      print(i,j)

1 4
2 3
3 2
4 1

In [ ]:
n = 2

for n in range(2,13):
  count = 0

for i in range(1,7):
  for j in range(1,7):
    if i + j == n:
      count += 1

print(n,":", str(round((count/36)*100,2)) + '%')

12 : 2.78%

## Indexing

In [ ]:
'Amanullah Chand'[8]

'h'

In [ ]:
for i in 'Amanullah Chand':
  print(i)

A
m
a
n
u
l
l
a
h

C
h
a
n
d

In [ ]:
name = 'Amanullah Chand'
for i in range(len(name)):
  print(name[i])

A
m
a
n
u
l
l
a
h

C
h
a
n
d

In [ ]:
name = 'Amanullah Chand'
for i in range(len(name)):
  print(i, name[i])

0 A
1 m
2 a
3 n
4 u
5 l
6 l
7 a
8 h
9
10 C
11 h
12 a
13 n
14 d

In [ ]:
name = 'Amanullah Chand'
for i in range(len(name)):
  print(i,name[i])

0 A
1 m
2 a
3 n
4 u
5 l
6 l
7 a
8 h
9
10 C
11 h
12 a
13 n
14 d

In [ ]:
name = 'Amanullah  kaSJckjas Chand kjasCJ5649ancjkas alnzxnc '
for i in range(len(name)):
  print(i,name[i])

0 A
1 m
2 a
3 n
4 u
5 l
6 l
7 a
8 h
9
10
11 k
12 a
13 S
14 J
15 c
16 k
17 j
18 a
19 s
20
21 C
22 h
23 a
24 n
25 d
26
27 k
28 j
29 a
30 s
31 C
32 J
33 5
34 6
35 4
36 9
37 a
38 n
39 c
40 j
41 k
42 a
43 s
44
45 a
46 l
47 n
48 z
49 x
50 n
51 c
52

## Text Cleaning

In [ ]:
# [97-122]
# [65-90], 32

name = 'Amanullah  kaSJckjas Chand kjasCJ5649ancjkas alnzxnc'

for i in name:
  if (ord(i) >= 97 and ord(i) <= 122 or ord(i) >= 65 and ord(i) <= 90) or ord(i) == 32:
    print(i)

A
m
a
n
u
l
l
a
h


k
a
S
J
c
k
j
a
s

C
h
a
n
d

k
j
a
s
C
J
a
n
c
j
k
a
s

a
l
n
z
x
n
c

In [ ]:
text = 'aeiou'
v = 0
c = 0

for i in text:
  if i in '@#$%^&*()(*&^%$%^&*(*&%$#))':
    continue
    else:
      c += 1

print(v,c)

SyntaxError: invalid syntax (<ipython-input-11-c21e3ff73fcd>, line 8)

## 7. Data Structures

### 7.1 List

In [ ]:
roll_no_1 = [12,56,86,23,45,46]
roll_no_1

[12, 56, 86, 23, 45, 46]

In [ ]:
roll_no_2 = [12,56,86,23,45,46,'Amanullah''Chand',True]
roll_no_2

[12, 56, 86, 23, 45, 46, 'AmanullahChand', True]

# 7.1.1) Write a program to create a list with values [between 1-100 and divisible by 3,5,7]

In [ ]:
lst = []
avg = 0
for i in range(1,101):
  if i%3 == 0 or i%5 == 0 or i%7 == 0:
    lst.append(i)

print(sum(lst))
print(len(lst))
print(round(sum(lst)/len(lst),2))

2838
55
51.6

#### 7.1.2) Access values from a list

In [ ]:
lst = [15,95,68,6,59,29,23,48,95,62,15,76,32,46,56]

lst

[15, 95, 68, 6, 59, 29, 23, 48, 95, 62, 15, 76, 32, 46, 56]

In [ ]:
lst = [15,95,68,6,59,29,23,48,95,62,15,76,32,46,56]

lst[0:5]

[15, 95, 68, 6, 59]

In [ ]:
lst = [15,95,68,6,59,29,23,48,95,62,15,76,32,46,56]

sum(lst[0:10])

500

In [ ]:
lst = [15,95,68,6,59,29,23,48,95,62,15,76,32,46,56]

lst[0:8]

[15, 95, 68, 6, 59, 29, 23, 48]

In [ ]:
name = 'Amanllah'

# 7.1.3) Check if a name is there is a list of not

In [ ]:
user_name = 'Amanullah'
names = ["Aarav", "Anika", "Arjun", "Amanullah", "Diya", "Ishaan", "Kiara", "Kabir", "Myra",
    "Rohan", "Siya", "Vivaan", "Zara", "Aditya", "Aisha", "Dev", "Inaaya"]
'Amanullah' in names

True

#### To print names with roll_no

In [ ]:
names = user_name = 'Amanullah'
names = ["Aarav", "Anika", "Arjun", "Amanullah", "Diya", "Ishaan", "Kiara", "Kabir", "Myra",
    "Rohan", "Siya", "Vivaan", "Zara", "Aditya", "Aisha", "Dev", "Inaaya"]

for i in range(len(names)):
  if names[i] == user_name:
    roll_no = i+1
    print(roll_no,names[i])

4 Amanullah

In [ ]:
user_name = user_name = 'Amanullah'
names = ["Aarav", "Anika", "Arjun", "Amanullah", "Diya", "Ishaan", "Kiara", "Kabir", "Myra",
    "Rohan", "Siya", "Vivaan", "Zara", "Aditya", "Aisha", "Dev", "Inaaya"]

for i in range(len(names)):
  if names[i].lower() == user_name.lower():
    roll_no = i+1
    print(roll_no,names[i])
    ifPresent = True

if not ifPresent:
  print('Not Available')

4 Amanullah

In [ ]:
user_name = user_name = 'Amanullah'

names = ["Aarav", "Anika", "Arjun", "Amanullah", "Diya", "Ishaan", "Kiara", "Kabir", "Myra",
    "Rohan", "Siya", "Vivaan", "Zara", "Aditya", "Aisha", "Dev", "Inaaya"]

ifPresent = False

for i in range(len(names)):
  if names[i] == user_name:
    roll_no = i+1
    print(roll_no,names[i])
    ifPresent = True

if not ifPresent:
  print('Not Available')

4 Amanullah

In [ ]:
lst = [1,6,1,9,59,6,4,6,6,5,595,55]
lst

[1, 6, 1, 9, 59, 6, 4, 6, 6, 5, 595, 55]

In [ ]:
len(lst)

12

In [ ]:
## Find the sum of all elements of a list row wise

lst = [[1,2,3],
       [4,5,6],
       [7,8,9] ]

for i in lst:
  for j in i:
    print(j)
  print('-'*10)

1
2
3
----------
4
5
6
----------
7
8
9
----------

## Find the sum of all elements of a list row wise

In [ ]:
lst = [[1,2,3],
       [4,5,6],
       [7,8,9] ]

for i in lst:
  print(sum(i))

6
15
24

## To sum all the lists seperately

In [ ]:
lst = [[1,2,3],
       [4,5,6],
       [7,8,9] ]

s = 0

for i in lst:
  s = 0
  for j in i:
    print(j)
    s+= j
  print('_'*10)

print(s)

1
2
3
__________
4
5
6
__________
7
8
9
__________
24

In [ ]:
lst = [[1,2,3],
       [4,5,6],
       [7,8,9] ]

lst [2][2]

9

In [ ]:
lst = [[1,2,3],
       [4,5,6],
       [7,8,9] ]

for i in lst:
  print(i)

[1, 2, 3]
[4, 5, 6]
[7, 8, 9]

In [ ]:
lst = [[1,2,3],
       [4,5,6],
       [7,8,9] ]

for i in lst:
  for j in i:
    print(j)

1
2
3
4
5
6
7
8
9

In [ ]:
lst = [[1,2,3],
       [4,5,6],
       [7,8,9] ]

for i in lst:
  for j in i:
    print(j)
  print('-'*10)

1
2
3
----------
4
5
6
----------
7
8
9
----------

In [ ]:
lst = [[1,2,3],
       [4,5,6],
       [7,8,9] ]

for i in lst:
  for j in i:
    print(i,j)

[1, 2, 3] 1
[1, 2, 3] 2
[1, 2, 3] 3
[4, 5, 6] 4
[4, 5, 6] 5
[4, 5, 6] 6
[7, 8, 9] 7
[7, 8, 9] 8
[7, 8, 9] 9

In [ ]:
  lst =[[1,2,3],
        [4,5,6],
        [7,8,9] ]

for i in lst:
    s = 0
    for j in i:
      s += j
    print(s)

6
15
24

In [ ]:
lst = [[1,2,3],
        [4,5,6],
        [7,8,9] ]

for i in lst:
  print(i[0])

1
4
7

In [ ]:
lst = [[1,2,3],
        [4,5,6],
        [7,8,9] ]

for i in lst:
  print(i[2])

3
6
9

In [ ]:
lst = [[1,2,3],
        [4,5,6],
        [7,8,9] ]

for i in lst:
  print(i[1])

2
5
8

In [ ]:
lst = [[1,2,3],
        [4,5,6],
        [7,8,9] ]

for j in range(len(lst)):
  s = 0
  for i in lst:
    s += i[j]
    print(s)

1
5
12
2
7
15
3
9
18

In [ ]:
lst = [[1,2,3],
        [4,5,6],
        [7,8,9] ]

for i in range(len(lst)):
  for j in range(len(lst)):
    if i == j:
      print(lst[i][j])

1
5
9

## To read cross

In [ ]:
lst = [[1,2,3],
        [4,5,6],
        [7,8,9]]

for i in range(len(lst)):
  for j in range(len(lst[i])):
    if i == j:
      print(lst[i][j])

1
5
9

## To sum diagonal elements

In [ ]:
lst =  [[1,2,3],
        [4,5,6],
        [7,8,9]]

s = 0
for i in range(len(lst)):
  for j in range(len(lst[i])):
    if i == j:
      s += lst[i][j]

print(s)

15

In [ ]:
lst =  [[1,2,3,4],
        [4,5,6,4],
        [7,8,9,5],
        [7,8,9,5]]

s = 0
for i in range(len(lst)):
  for j in range(len(lst[i])):
    if i+j == len(lst)-1:
      s += lst[i][j]

print(s)

25

## 7.2) Dictionaries

In [ ]:
dct = {1:'Amanullah', 2:'Chand' }
dct[1]

'Amanullah'

In [ ]:
dct = {1:10001,'1':'Amanullah', '2':'Chand', 1:34, False : 2, 0:3 }
dct

{1: 34, '1': 'Amanullah', '2': 'Chand', False: 3}

In [ ]:
dct = {1:'A',2:'B',3:'C'}
dct[2]

'B'

In [ ]:
dct = {1:'A',2:'B',3:'C'}
dct[2] = 'D'
dct

{1: 'A', 2: 'D', 3: 'C'}

In [ ]:
students = {101:'Aman', 102:'jingra'}
print(students[101])

Aman

In [ ]:
students = {101:'Aman', 'english': 45}
print(students['english'])

45

In [ ]:
students = {1001:
        'name': 'aman','english':46, 'address': 'Okhla',
        'mother_name': 'Tina',
        'father_name': 'Rahul',
        'other_details': {'blood_group': 'A+', 'hobbies': ['walking']}}},
        1002: {'name': 'Kunal',
        'age': 46,
        'address': '123 Main St',
        'mother_name': 'Rita',
        'father_name': 'Rajesh',
        'other_details': {'blood_group': 'B+', 'hobbies': ['reading','sports']}}

students[1001]['address']

SyntaxError: unmatched '}' (<ipython-input-2-d9e96109ac09>, line 5)

In [ ]:
students.values()

dict_values(['Aman', 45])

In [ ]:
students[1001]['marks']

NameError: name 'students' is not defined

In [ ]:
for mother_name in students[1001]['mother_name']:
  print(mother_name)

IndexError: tuple index out of range

In [ ]:
basic_details = {1001: {'name': 'aman','phone_no': [+64549446]},
                 1002: {'name': 'Manan', 'phone_no' : [34684,98748, 6879987, 45468]},
                 1003: {'name': 'Manish', 'phone_no' : [459471646,84949,4994964,4949]}}

In [ ]:
basic_details = {1001: {'name': 'aman','phone_no': [+64549446]},
                 1002: {'name': 'Manan', 'phone_no' : [34684,98748, 6879987, 45468]},
                 1003: {'name': 'Manish', 'phone_no' : [459471646,84949,4994964,4949]}}

### Loading Libraries and Datasets

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
pd

### Loading datasets & Downloading datasets

In [ ]:
# !git clone https://github.com/AshishJangra27/datasets

Loading datasets

### 1) df- we have renamed it for our easy use.

In [ ]:
df = pd.read_csv('/content/datasets/Airbnb/airbnb_v2.csv')

NameError: name 'pd' is not defined

### 2) df - will give you the whole data.

In [ ]:
df

,Unnamed: 0,id,name,rating,reviews,host_name,host_id,address,features,amenities,...,price,country,bathrooms,beds,guests,toiles,bedrooms,studios,checkin,checkout
0,0,49849504,Perla bungalov,4.71,64,Mehmetcan,357334205.0,"Kartepe, Kocaeli, Turkey","2 guests,2 bedrooms,1 bed,1 bathroom","Mountain view,Valley view,Lake access,Kitchen,...",...,8078,Turkey,1,1,2,0,2,0,Flexible,12 00 pm
1,1,50891766,Authentic Beach Architect Sheltered Villa with...,New,0,Fatih,386223873.0,"Ka, Antalya, Turkey","4 guests,2 bedrooms,2 beds,2 bathrooms","Kitchen,Wifi,Dedicated workspace,Free parking ...",...,4665,Turkey,2,2,4,0,2,0,4 00 pm - 11 00 pm,10 00 am
2,2,50699164,cottages sataplia,4.85,68,Giorgi,409690853.0,"Imereti, Georgia","4 guests,1 bedroom,3 beds,1 bathroom","Mountain view,Kitchen,Wifi,Dedicated workspace...",...,5991,Georgia,1,3,4,0,1,0,After 1 00 pm,12 00 pm
3,3,49871422,Sapanca Breathable Bungalow,5.0,13,Melih,401873242.0,"Sapanca, Sakarya, Turkey","4 guests,1 bedroom,2 beds,1 bathroom","Mountain view,Valley view,Kitchen,Wifi,Free pa...",...,11339,Turkey,1,2,4,0,1,0,After 2 00 pm,12 00 pm
4,4,51245886,Bungalov Ev 2,New,0,Arp Sapanca,414884116.0,"Sapanca, Sakarya, Turkey","2 guests,1 bedroom,1 bed,1 bathroom","Kitchen,Wifi,Free parking on premises,TV,Air c...",...,6673,Turkey,1,1,2,0,1,0,After 2 00 pm,12 00 pm
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12800,12800,44697740,"Brown Dome House No. 3, full of healing",4.94,16,Aidan,161552316.0,"Imhoe-myeon, Jindo, South Jeolla Province, Sou...","4 guests,8 bathrooms","Kitchen,Wifi,Free parking on premises,Private ...",...,4288,South Korea,8,0,4,0,0,0,3 00 pm - 11 00 pm,11 00 am
12801,12801,29975283,Bubble Hotel Ubud with Bathtub under the Sky,4.67,6,Martha,118954227.0,"Gianyar, Indonesia","2 guests,1 bedroom,1 bed,Toilet with sink","Wifi,Free on-street parking,Air conditioning,G...",...,15200,Indonesia,0,1,2,1,1,0,3 00 pm - 10 00 pm,12 00 pm
12802,12802,32977697,Paradise Eco Hub,4.67,3,Silas,175214568.0,"Kabale, Uganda","2 guests,1 bedroom,2 beds,1 private bathroom","Wifi,Breakfast,Long-term stays allowed,Unavail...",...,9103,Uganda,1,2,2,0,1,0,After 3 00 pm,NaN
12803,12803,8006146,WisDOME - Mentigi Bay Village - Gilis - Lombok,4.86,7,Cempaka,718423.0,"Gunung Sari, Nusa Tenggara Barat, Indonesia","8 guests,2 bedrooms,4 beds,2.5 bathrooms","Kitchen,Wifi,Dedicated workspace,Free parking ...",...,42262,Indonesia,2,4,8,0,2,0,Flexible,12 00 pm
12804,12804,40547903,Enjoy Vitamin SEA! Ocean Front! [Ocean's Seven],4.85,13,Achy,246470880.0,"Uruma, Okinawa, Japan","5 guests,1 bedroom,2 beds,1 bathroom","Sea view,Beach access Beachfront,Kitchen,Wif...",...,9909,Japan,1,2,5,0,1,0,After 4 00 pm,11 00 am

### 2) .head() - will give you first 5 rows as an output only.

In [ ]:
df.head()

NameError: name 'df' is not defined

### 3) .tail() - will give you last 5 rows as an output only.

In [ ]:
df.tail()

,Unnamed: 0,id,name,rating,reviews,host_name,host_id,address,features,amenities,...,price,country,bathrooms,beds,guests,toiles,bedrooms,studios,checkin,checkout
12800,12800,44697740,"Brown Dome House No. 3, full of healing",4.94,16,Aidan,161552316.0,"Imhoe-myeon, Jindo, South Jeolla Province, Sou...","4 guests,8 bathrooms","Kitchen,Wifi,Free parking on premises,Private ...",...,4288,South Korea,8,0,4,0,0,0,3 00 pm - 11 00 pm,11 00 am
12801,12801,29975283,Bubble Hotel Ubud with Bathtub under the Sky,4.67,6,Martha,118954227.0,"Gianyar, Indonesia","2 guests,1 bedroom,1 bed,Toilet with sink","Wifi,Free on-street parking,Air conditioning,G...",...,15200,Indonesia,0,1,2,1,1,0,3 00 pm - 10 00 pm,12 00 pm
12802,12802,32977697,Paradise Eco Hub,4.67,3,Silas,175214568.0,"Kabale, Uganda","2 guests,1 bedroom,2 beds,1 private bathroom","Wifi,Breakfast,Long-term stays allowed,Unavail...",...,9103,Uganda,1,2,2,0,1,0,After 3 00 pm,NaN
12803,12803,8006146,WisDOME - Mentigi Bay Village - Gilis - Lombok,4.86,7,Cempaka,718423.0,"Gunung Sari, Nusa Tenggara Barat, Indonesia","8 guests,2 bedrooms,4 beds,2.5 bathrooms","Kitchen,Wifi,Dedicated workspace,Free parking ...",...,42262,Indonesia,2,4,8,0,2,0,Flexible,12 00 pm
12804,12804,40547903,Enjoy Vitamin SEA! Ocean Front! [Ocean's Seven],4.85,13,Achy,246470880.0,"Uruma, Okinawa, Japan","5 guests,1 bedroom,2 beds,1 bathroom","Sea view,Beach access Beachfront,Kitchen,Wif...",...,9909,Japan,1,2,5,0,1,0,After 4 00 pm,11 00 am

### 4) df.describe() - It will show the description of every particular dataset only.

In [ ]:
df.describe()

,Unnamed: 0,id,host_id,price,bathrooms,beds,guests,toiles,bedrooms,studios
count,12805.000000,1.280500e+04,1.280500e+04,1.280500e+04,12805.000000,12805.000000,12805.000000,12805.000000,12805.000000,12805.000000
mean,6402.000000,7.525187e+16,1.638192e+08,1.769780e+04,1.874424,3.316751,5.213745,0.019211,2.136041,0.023585
std,3696.629433,2.007933e+17,1.413622e+08,4.569364e+04,2.091399,4.037791,3.808830,0.137272,2.359005,0.151757
min,0.000000,1.313100e+04,2.303900e+04,3.930000e+02,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000
25%,3201.000000,2.023958e+07,3.700032e+07,3.994000e+03,1.000000,1.000000,2.000000,0.000000,1.000000,0.000000
50%,6402.000000,3.682229e+07,1.256459e+08,8.175000e+03,1.000000,2.000000,4.000000,0.000000,1.000000,0.000000
75%,9603.000000,4.999760e+07,2.639623e+08,1.606200e+04,2.000000,4.000000,6.000000,0.000000,3.000000,0.000000
max,12804.000000,7.017905e+17,4.758973e+08,1.907963e+06,50.000000,98.000000,16.000000,1.000000,50.000000,1.000000

### 5) df.info() - It will show the information of every particular dataset only.

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12805 entries, 0 to 12804
Data columns (total 23 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Unnamed: 0    12805 non-null  int64
 1   id            12805 non-null  int64
 2   name          12805 non-null  object
 3   rating        12805 non-null  object
 4   reviews       12805 non-null  object
 5   host_name     12797 non-null  object
 6   host_id       12805 non-null  float64
 7   address       12805 non-null  object
 8   features      12805 non-null  object
 9   amenities     12805 non-null  object
 10  safety_rules  12805 non-null  object
 11  hourse_rules  12805 non-null  object
 12  img_links     12805 non-null  object
 13  price         12805 non-null  int64
 14  country       12805 non-null  object
 15  bathrooms     12805 non-null  int64
 16  beds          12805 non-null  int64
 17  guests        12805 non-null  int64
 18  toiles        12805 non-null  int64
 19  bedrooms      12805 non-null  int64
 20  studios       12805 non-null  int64
 21  checkin       12005 non-null  object
 22  checkout      10355 non-null  object
dtypes: float64(1), int64(9), object(13)
memory usage: 2.2+ MB

### 6) df.isnull() - To get null values only

In [ ]:
df.isnull().sum()

Unnamed: 0         0
id                 0
name               0
rating             0
reviews            0
host_name          8
host_id            0
address            0
features           0
amenities          0
safety_rules       0
hourse_rules       0
img_links          0
price              0
country            0
bathrooms          0
beds               0
guests             0
toiles             0
bedrooms           0
studios            0
checkin          800
checkout        2450
dtype: int64

In [ ]:
### 7) df.dropna('host_name') - To remove any specific null value column on the basis of host_name.

In [ ]:
df.dropna(subset = 'host_name')

,Unnamed: 0,id,name,rating,reviews,host_name,host_id,address,features,amenities,...,price,country,bathrooms,beds,guests,toiles,bedrooms,studios,checkin,checkout
0,0,49849504,Perla bungalov,4.71,64,Mehmetcan,357334205.0,"Kartepe, Kocaeli, Turkey","2 guests,2 bedrooms,1 bed,1 bathroom","Mountain view,Valley view,Lake access,Kitchen,...",...,8078,Turkey,1,1,2,0,2,0,Flexible,12 00 pm
1,1,50891766,Authentic Beach Architect Sheltered Villa with...,New,0,Fatih,386223873.0,"Ka, Antalya, Turkey","4 guests,2 bedrooms,2 beds,2 bathrooms","Kitchen,Wifi,Dedicated workspace,Free parking ...",...,4665,Turkey,2,2,4,0,2,0,4 00 pm - 11 00 pm,10 00 am
2,2,50699164,cottages sataplia,4.85,68,Giorgi,409690853.0,"Imereti, Georgia","4 guests,1 bedroom,3 beds,1 bathroom","Mountain view,Kitchen,Wifi,Dedicated workspace...",...,5991,Georgia,1,3,4,0,1,0,After 1 00 pm,12 00 pm
3,3,49871422,Sapanca Breathable Bungalow,5.0,13,Melih,401873242.0,"Sapanca, Sakarya, Turkey","4 guests,1 bedroom,2 beds,1 bathroom","Mountain view,Valley view,Kitchen,Wifi,Free pa...",...,11339,Turkey,1,2,4,0,1,0,After 2 00 pm,12 00 pm
4,4,51245886,Bungalov Ev 2,New,0,Arp Sapanca,414884116.0,"Sapanca, Sakarya, Turkey","2 guests,1 bedroom,1 bed,1 bathroom","Kitchen,Wifi,Free parking on premises,TV,Air c...",...,6673,Turkey,1,1,2,0,1,0,After 2 00 pm,12 00 pm
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12800,12800,44697740,"Brown Dome House No. 3, full of healing",4.94,16,Aidan,161552316.0,"Imhoe-myeon, Jindo, South Jeolla Province, Sou...","4 guests,8 bathrooms","Kitchen,Wifi,Free parking on premises,Private ...",...,4288,South Korea,8,0,4,0,0,0,3 00 pm - 11 00 pm,11 00 am
12801,12801,29975283,Bubble Hotel Ubud with Bathtub under the Sky,4.67,6,Martha,118954227.0,"Gianyar, Indonesia","2 guests,1 bedroom,1 bed,Toilet with sink","Wifi,Free on-street parking,Air conditioning,G...",...,15200,Indonesia,0,1,2,1,1,0,3 00 pm - 10 00 pm,12 00 pm
12802,12802,32977697,Paradise Eco Hub,4.67,3,Silas,175214568.0,"Kabale, Uganda","2 guests,1 bedroom,2 beds,1 private bathroom","Wifi,Breakfast,Long-term stays allowed,Unavail...",...,9103,Uganda,1,2,2,0,1,0,After 3 00 pm,NaN
12803,12803,8006146,WisDOME - Mentigi Bay Village - Gilis - Lombok,4.86,7,Cempaka,718423.0,"Gunung Sari, Nusa Tenggara Barat, Indonesia","8 guests,2 bedrooms,4 beds,2.5 bathrooms","Kitchen,Wifi,Dedicated workspace,Free parking ...",...,42262,Indonesia,2,4,8,0,2,0,Flexible,12 00 pm
12804,12804,40547903,Enjoy Vitamin SEA! Ocean Front! [Ocean's Seven],4.85,13,Achy,246470880.0,"Uruma, Okinawa, Japan","5 guests,1 bedroom,2 beds,1 bathroom","Sea view,Beach access Beachfront,Kitchen,Wif...",...,9909,Japan,1,2,5,0,1,0,After 4 00 pm,11 00 am

### 8) df.dropna('host_name') - To remove any specific null value column.

In [ ]:
df = df.dropna(subset = 'host_name')

### 9) df.dropna('host_name') - To check the length of the column.

In [ ]:
len(df)

10189

### 9)

In [ ]:
df['host_name'].fillna('unknown').isnull().sum()

np.int64(0)

In [ ]:
df['id']

0                  49849504
1                  50891766
2                  50699164
3                  49871422
4                  51245886
                ...
12799    640474109823176234
12800              44697740
12801              29975283
12803               8006146
12804              40547903
Name: id, Length: 10189, dtype: int64

In [ ]:
df['host_name']

0              Mehmetcan
1                  Fatih
2                 Giorgi
3                  Melih
4            Arp Sapanca
              ...
12799    Daphne Belvilla
12800              Aidan
12801             Martha
12803            Cempaka
12804               Achy
Name: host_name, Length: 10189, dtype: object

In [ ]:
df['host_name'].fillna('unknown')

0              Mehmetcan
1                  Fatih
2                 Giorgi
3                  Melih
4            Arp Sapanca
              ...
12799    Daphne Belvilla
12800              Aidan
12801             Martha
12803            Cempaka
12804               Achy
Name: host_name, Length: 10189, dtype: object

In [10]:
df['id'].nunique()

12805

In [11]:
df.columns

Index(['Unnamed: 0', 'id', 'name', 'rating', 'reviews', 'host_name', 'host_id',
       'address', 'features', 'amenities', 'safety_rules', 'hourse_rules',
       'img_links', 'price', 'country', 'bathrooms', 'beds', 'guests',
       'toiles', 'bedrooms', 'studios', 'checkin', 'checkout'],
      dtype='object')

In [13]:
del df['Unnamed: 0']

In [15]:
df

,id,name,rating,reviews,host_name,host_id,address,features,amenities,safety_rules,...,price,country,bathrooms,beds,guests,toiles,bedrooms,studios,checkin,checkout
0,49849504,Perla bungalov,4.71,64,Mehmetcan,357334205.0,"Kartepe, Kocaeli, Turkey","2 guests,2 bedrooms,1 bed,1 bathroom","Mountain view,Valley view,Lake access,Kitchen,...",",Airbnb's COVID-19 safety practices apply,,N...",...,8078,Turkey,1,1,2,0,2,0,Flexible,12 00 pm
1,50891766,Authentic Beach Architect Sheltered Villa with...,New,0,Fatih,386223873.0,"Ka, Antalya, Turkey","4 guests,2 bedrooms,2 beds,2 bathrooms","Kitchen,Wifi,Dedicated workspace,Free parking ...",",Airbnb's COVID-19 safety practices apply,,C...",...,4665,Turkey,2,2,4,0,2,0,4 00 pm - 11 00 pm,10 00 am
2,50699164,cottages sataplia,4.85,68,Giorgi,409690853.0,"Imereti, Georgia","4 guests,1 bedroom,3 beds,1 bathroom","Mountain view,Kitchen,Wifi,Dedicated workspace...",",Airbnb's COVID-19 safety practices apply,,N...",...,5991,Georgia,1,3,4,0,1,0,After 1 00 pm,12 00 pm
3,49871422,Sapanca Breathable Bungalow,5.0,13,Melih,401873242.0,"Sapanca, Sakarya, Turkey","4 guests,1 bedroom,2 beds,1 bathroom","Mountain view,Valley view,Kitchen,Wifi,Free pa...",",Airbnb's COVID-19 safety practices apply,,N...",...,11339,Turkey,1,2,4,0,1,0,After 2 00 pm,12 00 pm
4,51245886,Bungalov Ev 2,New,0,Arp Sapanca,414884116.0,"Sapanca, Sakarya, Turkey","2 guests,1 bedroom,1 bed,1 bathroom","Kitchen,Wifi,Free parking on premises,TV,Air c...",",Airbnb's COVID-19 safety practices apply,,C...",...,6673,Turkey,1,1,2,0,1,0,After 2 00 pm,12 00 pm
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12800,44697740,"Brown Dome House No. 3, full of healing",4.94,16,Aidan,161552316.0,"Imhoe-myeon, Jindo, South Jeolla Province, Sou...","4 guests,8 bathrooms","Kitchen,Wifi,Free parking on premises,Private ...",",Airbnb's COVID-19 safety practices apply,,C...",...,4288,South Korea,8,0,4,0,0,0,3 00 pm - 11 00 pm,11 00 am
12801,29975283,Bubble Hotel Ubud with Bathtub under the Sky,4.67,6,Martha,118954227.0,"Gianyar, Indonesia","2 guests,1 bedroom,1 bed,Toilet with sink","Wifi,Free on-street parking,Air conditioning,G...",",Airbnb's COVID-19 safety practices apply,,C...",...,15200,Indonesia,0,1,2,1,1,0,3 00 pm - 10 00 pm,12 00 pm
12802,32977697,Paradise Eco Hub,4.67,3,Silas,175214568.0,"Kabale, Uganda","2 guests,1 bedroom,2 beds,1 private bathroom","Wifi,Breakfast,Long-term stays allowed,Unavail...",",Airbnb's COVID-19 safety practices apply,,N...",...,9103,Uganda,1,2,2,0,1,0,After 3 00 pm,NaN
12803,8006146,WisDOME - Mentigi Bay Village - Gilis - Lombok,4.86,7,Cempaka,718423.0,"Gunung Sari, Nusa Tenggara Barat, Indonesia","8 guests,2 bedrooms,4 beds,2.5 bathrooms","Kitchen,Wifi,Dedicated workspace,Free parking ...",",Airbnb's COVID-19 safety practices apply,,C...",...,42262,Indonesia,2,4,8,0,2,0,Flexible,12 00 pm
12804,40547903,Enjoy Vitamin SEA! Ocean Front! [Ocean's Seven],4.85,13,Achy,246470880.0,"Uruma, Okinawa, Japan","5 guests,1 bedroom,2 beds,1 bathroom","Sea view,Beach access Beachfront,Kitchen,Wif...",",Airbnb's COVID-19 safety practices apply,,S...",...,9909,Japan,1,2,5,0,1,0,After 4 00 pm,11 00 am

# Changed data type do some arithmetic operations

In [17]:
df['rating'].replace('New',0, inplace = True)
df['rating'] = df['rating'].astype('float')

In [18]:
df['rating'].mean()

np.float64(3.249823506442796)

In [ ]:
df['reviews'] = df ['reviews'].str.replace(',','').astype('int')

In [ ]:
df['reviews'].mean()

In [19]:
df['rating'].unique()

array([4.71, 0.  , 4.85, 5.  , 4.67, 4.97, 4.89, 4.83, 4.87, 4.9 , 4.75,
       4.76, 4.84, 4.79, 4.82, 4.93, 4.96, 4.6 , 4.64, 4.68, 4.8 , 4.69,
       4.58, 4.63, 4.91, 4.88, 4.94, 4.92, 4.86, 4.78, 4.57, 4.99, 4.98,
       4.74, 4.7 , 4.77, 4.72, 4.73, 4.95, 4.81, 4.53, 4.59, 4.62, 4.61,
       4.51, 4.54, 4.56, 4.65, 4.55, 4.66, 4.52, 4.5 , 4.33, 4.26, 3.33,
       4.2 , 4.  , 4.48, 4.38, 3.  , 4.49, 4.28, 4.45, 4.25, 4.36, 4.46,
       4.44, 4.43, 3.75, 3.25, 4.13, 4.15, 3.88, 4.29, 4.4 , 3.5 , 4.31])

In [20]:
df['rating'].isnull()

0        False
1        False
2        False
3        False
4        False
         ...
12800    False
12801    False
12802    False
12803    False
12804    False
Name: rating, Length: 12805, dtype: bool

In [ ]:
df['host_name' ] = df['host_name'] .fillna('unknown')

### To check the null value cells.

In [ ]:
df.isnull().sum()

Unnamed: 0      0
id              0
name            0
rating          0
reviews         0
host_name       0
host_id         0
address         0
features        0
amenities       0
safety_rules    0
hourse_rules    0
img_links       0
price           0
country         0
bathrooms       0
beds            0
guests          0
toiles          0
bedrooms        0
studios         0
checkin         0
checkout        0
dtype: int64

In [ ]:
df['id'].values

NameError: name 'df' is not defined

## To review the data set

In [22]:
df['reviews']

0        64
1         0
2        68
3        13
4         0
         ..
12800    16
12801     6
12802     3
12803     7
12804    13
Name: reviews, Length: 12805, dtype: object

In [29]:
df['reviews'].unique()

array(['64', '0', '68', '13', '3', '77', '55', '116', '23', '21', '8',
       '52', '17', '61', '49', '38', '4', '15', '26', '5', '2', '85', '9',
       '20', '11', '7', '1', '241', '41', '10', '25', '154', '44', '19',
       '58', '137', '33', '12', '18', '16', '113', '125', '42', '244',
       '27', '188', '34', '69', '97', '6', '86', '114', '65', '91', '32',
       '53', '231', '99', '14', '120', '29', '28', '22', '123', '90',
       '124', '110', '79', '93', '54', '59', '74', '31', '48', '30', '89',
       '92', '35', '24', '229', '40', '102', '39', '194', '100', '147',
       '37', '78', '88', '71', '130', '576', '1,003', '261', '726', '127',
       '76', '84', '36', '60', '192', '46', '135', '62', '159', '158',
       '45', '95', '104', '211', '43', '121', '109', '210', '107', '98',
       '310', '96', '73', '50', '82', '66', '943', '254', '571', '72',
       '51', '246', '136', '165', '67', '807', '262', '548', '266', '181',
       '141', '171', '271', '160', '56', '608', '346', '174', '316',
       '215', '87', '112', '173', '144', '238', '675', '201', '161', '57',
       '81', '239', '328', '193', '151', '237', '111', '268', '149',
       '138', '420', '47', '221', '219', '146', '63', '189', '162', '152',
       '80', '222', '70', '133', '75', '208', '195', '167', '170', '156',
       '108', '94', '166', '214', '286', '212', '105', '290', '117',
       '126', '543', '249', '169', '119', '180', '183', '172', '83',
       '276', '142', '385', '134', '393', '150', '475', '379', '277',
       '199', '177', '299', '370', '364', '234', '380', '255', '140',
       '780', '252', '473', '186', '205', '213', '103', '232', '143',
       '175', '163', '259', '484', '329', '139', '118', '716', '532',
       '519', '308', '317', '258', '339', '115', '128', '476', '176',
       '285', '182', '275', '553', '703', '278', '549', '185', '340',
       '493', '448', '164', '157', '318', '168', '223', '106', '101',
       '302', '545', '153', '455', '517', '248', '284', '148', '129',
       '273', '264', '187', '377', '295', '311', '353', '131', '200',
       '337', '555', '538', '243', '233', '256', '351', '291', '184',
       '253', '263', '642', '216', '269', '132', '240', '242', '247',
       '250', '122', '145', '338', '489', '265', '315', '320', '342',
       '217', '179', '204', '218', '440', '228', '371', '306', '230',
       '191', '361', '304', '347', '296', '456', '236', '419', '155',
       '196', '209', '197', '297', '433', '270', '206', '330', '332',
       '363', '378', '348', '331', '279', '485', '300', '178', '373',
       '354', '326', '207', '305', '224', '198', '225', '202', '499',
       '434', '410', '541', '439', '369', '390', '288', '282', '226',
       '274', '313', '303', '251', '292', '386', '203', '423', '190',
       '504', '469', '235', '374', '319', '245', '352', '220', '325',
       '321', '272', '260', '227', '492', '497', '350', '406', '280',
       '665', '638', '324', '570', '496', '529', '294', '516', '407',
       '355', '362', '444', '417', '524', '257', '510', '359', '267'],
      dtype=object)

# Clean the column split it

In [30]:
df['clean_country'] = df['address'].str.split(',').str[-1].str.strip()

In [31]:
df['clean_country']

0             Turkey
1             Turkey
2            Georgia
3             Turkey
4             Turkey
            ...
12800    South Korea
12801      Indonesia
12802         Uganda
12803      Indonesia
12804          Japan
Name: clean_country, Length: 12805, dtype: object

In [28]:
df['reviews'].mean()

TypeError: Could not convert string '6406813000003775511623218528176149382341526524859201174801024141102256115401441130190581373313784088410330101311120001412443023130018020161100100110012100070004101600300321131253154224400336827188346997686114657738391325325112156723199141202916192900128221232529068026091011103381240238110869799192933352054422031545951385011074610113101723544823171825301138913172392792352412293541803800121185421810102012412312010117381527154023201023239211521551248319319449321001470372301778537887307126931271501300030295761,00326144542618813726861279768437361960253310334425111922546311439135846227159122015860644553951044032211286544354612132336027820233086415706262282637172125109252104310727869831728923106961732207345013502314122610014154352622188115033281710906623321215329711082328103011223517004063226116921147122241066026002722012105055003943254115711372985251246932916136127137823616567807352267215226254849266181141171856227161160486838566083463717444316215232429207187112743617329294041013462181447812440238675892011611523311571655761114154232618102854922393111883282115617181619334151352379311126862010981491046612811381423129219669019314894515420231476297160332211134843275721940665032114630138896301463125512043171891665112531761602911259995710201621597223001200439090243124051152509225136511110160173806725560591617132123574421235048115121557361231669811812244221290153517180222352025361137034401013352111356660751934836301863124172414313111312419467236393637152620819518311642254207866956103792173811239252631167170015642980964129111094024222910016102202469902923104542541451089323212852740211661763255233951756181313564926228989534011454516121184402029135101409732628861422141121247519241859337317722358910914499495327741084151911843198166863100032144814307339214822862621233208529474592891230933373741241053204694963343326728115631103315142742810523127695771385548265221446702202182102057010162614010477110311211940017223011104112195200020732305301422120016002201110300102000130102000011002000000000000100010000000290254801071021171265437316652491743272444920829231691147017341660712588460854478920672524212368119901175301626150315652654307001830720401313137628711117193731801239341001113130212095506183892311726137458184113310837365303269173382276111222403001413172011000326001461425023713738513439348102017028150424751772828177141379277101999153508531017729911231004370364502772343801130303925514064197802527812173473186205283212132131191036925232814317521121616362259484773451263291401396721317711011871645419353263117551930847108114249496829118883116631372159317301182585832152432058951348820148339454211539174080128142476281762195252641042852381822758117420517619240553577033139282781485491853406214646493252448164146157277318231143363912127401831682556343779812235155791402105423819463105746034621170021110141521620185168441197117188113231216110620264314586370350334371029181503527844402777661401331471061320256014941213625681702719501102410341112513431251123826213115338279005817432582153212101311101281829330210151101041112215112130021092113229410130160111920021109411001209171011510310005110046001012120088013339109126642693417205672025623610812059316131020146303238432515161036351512627726153145391995101102738615943519571748302545153111361745520345178911511248428161284368314849172379118510125818856814052169513106167273493516125318493129756204273264201071874570377701212071295601613884243346431151353191288912431397630652877631013128322417646104382937501133592004340307671412601412653602725177018299581197844141196337719394168194175722214963515412021657821202636156327907784513830174482819151630332219431921162524671171436111883351863710783507517916337555127526916519913211223914632501373413538243105231107119171161402333611185243816828232563515576337125721396952499056911664915024108551932912462381464117809318425310050239254332802759610100263642312121107271976426671175667216185222539286615472271282912998293512725620222105742606525481206667452691321878123101131251567899239100114115132402518934724248524720518123109181258586250782168793111796686119329869131421913562210708287428311094698235484330130109412229844135271456911141105862024281404446642625180773225334856441395610211221472271156038838688940910002021001357567521003637410211021915130222120141002100200042001000100100003000001000045121010200135271513961211612078028338911794489030125480228516437141656540991401615826525026471101654201031815106501091551316142216475769261254411219641105129125122801222192131200810524012190413723405469450480535441118052030030101000611001005046100201001021000000301009004010200000000000037751882851129323111030700021121401420631447119291731571351383201753210342669316565013527901093830441307814984149336421245241697032757573841472117165817232203628311372199055372633853217307032915822176263610106199028308549563956492012456315913203229491725254424161032181648675161056668413615613325292128513113003425425418013561157011162931964363622339289860165722170162725816110150231790383102195185514102565333613918143272738811111725852757111311181105751111064717243214204262111019450170015101120121202009313510204136125218481152727512103324574203817444731544034121124331813144079902044425210824317227110394652526172151380638127297610224271126015811042440600023027042312617001011191803500504726228371111791291093121493061153210159193697131161618471093173335646233308101015784040072593113741167726206013292167316231367281593150831310453227232220204116763120259216628963564854371382221351606413130125018268041122362111109100310003800010534011000223019141810253303110000321000010400000114357502423568381721852230421705530817453361572355222247601166455011542138125202813903164611838913711274103461760101952212515001182179284493220602101436647181540121700172002140920612051224141510211501710005615211202440104005000243701000201300154227932117137392235467100091103112528273121320190908001064964232231534709415263078257311011717113212046612866248756398245191174135650413034053124162731401112384159150152212020703410249172101735122212253939192720391165011218152044327100907063561914181123001111274100381922022422427073006112000210001001011420000011230109317524117168625321751011872311406915249052512177503517766670074814018708402115212061171356526571112963956229148403636113941101100200120430427136126460320010300018025166135161114220511000001000017413410610025036116167101311402687242991052953111340071010102150104000712347191658132529647326114425781944562315164290478120423680905413731419011815536151495424171881606810579187531313412197143135155142285137136832649227831276103091025196341012234141253441260161211032243910181205721121185112153114293423710425531361902316827144186571030103025592322114111699535137729114181135713030116213970100003211900100000000084731210110111391671010182702010203000003000000010000007602200103300200000100000100000001304203525100113540000000000316106328123791541274153209991106644783174218453311106213543636421824905213011021313434438201112111244923459116523236126231414623011067625121071150100159234922115808070132250925353647222133120011228011141174033387861030116519723223311525120134124134028922197448313485713812526110734396378110525325154611604817132103521137735412731914201614122283102934120221610402332971237935521601908251115265153153102534846454726039743746510003012300042016011300741028000000173400010322000013010000020004600114010001060500000000003000101100002001000100000000000000010000000000002000000028000400000000000000001050372515570510120480000013410311000001400000000014000140000010010004101800900010010200004371700021000122000200100060004214000010120000000433080027002755341148035511218657521545534879021004171711100000000102814120675159018860117674901622313124303021000002971543281271109194119881228234145467333450155123910248421301020402616024108330519501014216026113728011516744015314302200019082253864113101001396312162341315318247641080101311109012125000131100000210021103000000102002100000010011900201850931133325672482101685025614443458322124183634530081211378181123928861871337817486661114212642293942106139018896434844172226510475218394596507412845610033132226012026033911491112540707516320141704561420563343576223021501414626191231362279321414444910545311115011927936642917158226234714855151421275762816289171223860409517748516517593105878616645754221166069406712193634635762238682494747278203810266380169100239048046127382550419851812123100117391135299413682311271152241101112011000721613011203370000370036132750000000005040020041100179391229000021116621671791610671286762058136234415275641865571355644029124704015221653181571110383745872220217018182553100127290271492160018610741100001171101907005253081890031200000020201400301000100001400000001174851118038300303315460403045360015601631100154411121031101000611131101001003000122100010101000011020000000125404542481015515260712191131787532813499820347085019123520416066491572499195143012510141781071745400203312113130217571001290013100720234005010125009101013233800071022520001206554402112500022000501219020500020200000116000012311000379250295155273100102002400321111010140212100101000213344211194604500010101919634002020109018290026313150111220352210630231201005024023846111345320053121741781752437317129267354048142105163810100004486107641608811221603227231311182616685309990091399064103100111707240411356087019917209802206272618174225434010518202212126635451041701014124625182731428111148131915237193223134053858211521300114927531011758311326105103848820713654761581784494101179253032671214257100239672318143215361121188815524637391977114516817437822501081878012431073915910147191935320798546521181202473351178014293106011007171110102506004043000121100430000010000010014630599362244738100272051888031100100061057126110888412744932037471564431198684302449429132122130161241011755132038503107446067375223811341775823371314541024115002911151114801702301862230801162112101501032000202650001000190010001581057401201282826126901470149001032235220027100355823119750010142000202400001700031229280010123001001301100010230840100000700016392851092251331405128020170164206602008172001100220000100201526206545013733202216111010104270121919434152929242061025110412121139205461201651512197105125721913123751001122770108663160071002212012011000091011932413110100145741493114320811246601201015131506350147414426293454240462661442112582124337361481938145113932193724951938223225261933131448510354215251161644214321841110514133901255511064216193376131630318312026243391021821912841271237412230247311111311322702181319006131273195921461062981517250222915211087128116943612651117176941520818134697273110110215036159012331811501001855010032836120122135560281122286106575101310810111712103011111113120030321520031131300320100003154521210452314282012018172181231116598132120010336211120000001221290517913014000424164500001101202100212031000200120000110500021215611301231137173504049522222301231211211148111172021412755549943443410541542422181014391358717112641981483691653291067412390236248230216326225914628502888028222226224873226119820131116903065138219177182461110819313519213115612422112740962254126849734132274194622425189661001451251123477516413613179684228830197403853148622478102582319179272514610964806112472162261222413131584098519717110044761081633014299811110412583157784538581022246152147581161206149297360313534292311754243331084563135832105248392495739229652624232473672115102013405810118234512058420591621365814211467853578029481854339712960102152813101237094262690221325196822484249170334326391178360422040310722430033215171521214826594105962445314241753764864610625271138531055742523368164176129325313810111541121159624952016978810136758205102363422320837416108602095045651313285498128535420443926107113915774075734757319489115708937111263872453310220532912445611120581517471453541119123234113438121402010759145286747222449294373743067211446632894830763628629812849401542204971203314359010341212412728682242590701214381091823547858639056154023194561651146410834514156734971143361147244100433493162452046463631337860225821015198153108845771873312722622572330385123691712510031450243813338500734926510926438141631531001511033036852721219141178282139459228241443201117101739018302420181551579349642921794584658151441311182405625289856126120100131530030831303163010007721134301242661501434873471035742912182811612518125147088913120232943110113521113010336000332122203201201111220010134418511021961644554921776013131054401322003903506419111017159142207214130520002110005024124301110110011125350120100011120071000121200003320002111001101826022120000103000172230151452033002400214025537160614201001013639172100830026305292180236501362082141156941307212139851303252106131401968670122603716451291812442799934431223426944091004158417136803961811126524318104280273700181158631211005132121718121104242402403232103201910023623306101510122810410031123100161411900135123102002001011200101810021010201020008021011110010415000000000001020000000000000000000001003011338640870409838256920421151000667827004451617214127342212272819221800221190401251442806166571418383741135081521142565251319166611256136111728294453209120311113711012251415143281222795211630702119227022425513721670114333329951023910071126613112018200390311122141122121231836106631132701103421100310112003606713110672410118302143201510141109555041154229118100201281031206599143791354216559326195120542069085143465762997311501743571920551503001720471521225441521058171384251291720385939611811065111113792826802261860716288664131012311150201463423111416813306717141226104211563725930131100141813197271662534153415853453330126631591490163671582501032714934391466563114233280491272337211965895836152741286299183357513411141313151151933163915243282138751383524182785951241331082542191091322027093033463228820103310942131523914915394132143914106152378227311137261281291692225821112637142329132972041295221928491642198053937474491913866110347534352395190777066641296414211323547538815553035193618371441054228564237796841734411396738198652232722348382240461282362437042476143139134442518942537215118801917131102534016551710164212102022210112031714227120210012041200230000000000000000024125271073303517172089122406896123113221272310615281399035441528135371871347153374443504126812616032167713251171071043044140622131164243261403661833111381277100564522061123223625067130528136381610009825263553904995201004491125111526019523320321100541904040271010050110100010207017232611222673255641821752854012203472920252417600161000090132301421116000100000011511030190906300303705529242301781141620418181360258469171272888393772184351478311214855140184501928106013295626331148016004395818022419239180113702115000024020011422001000180672810121320010713571162042522937916202012446840903118042111822001342117731120901606100010000213061100201091000011000012010013000100000002110131961668943483235950223911310283230542918394137386235361104524155117273223082112143437383624284122599761324249350350032190001110000415936201382001233238302531165616130021534935962852628242351283838110652794710259279133930625511015151353814101073101852855264542419152213611348316401970260111212038512919124020101822471197816876202262272016012162305909171712801141814035117837011801910670190220344124011001309709260118595221171640615244110001301120144702151008146210522364141010210100391331202015010012010010000001079755115114751311198292552142716420262712531221392361314523272341231313159295551213417104431224210206012092804214052102092023000200012001338270202442710075222792861572725318525633014310101835481244665271621993128513585112150011720122170240100161024021622000000030300001060182493793743210519160851221223016602759315284301001424407402120101075331910319251740119830406031211102282451891531832374401133817231132843527510571632214161215819491522531095654016745873514733192202948621065106248521202963143511121002016151651912724061139312811020139110128578036142152610323255981311415331111281182859209197122755817364547843377119102926805012518432115644118220153203155143156158273965114621624616499139785971954542519441138401332847704373723376146213244950252495297323558252063175732131826152047240242716261325181312320168213716202121254621531868615015433255126103102610664120171432132296166808115334132011027345606221151241232321223511012231002200210010001001111873931168310227288543114477211197733510710647811071166134733831293545215616301251663454629474491979633072121213184102000000182747102476713415215676735991101449105604968470122093419338713231833101713301303107155610123122040100002010000900015151011062112046773315842510822173512306649713321109481943311504110244112190102232638861164971123300121392422911208243673236923041151193272121011431189341542358413122438103391216311255226190246579619171103132312152114110617136027402041314311311067913058186161846413134663210085551179114323694022491252602110341218132513446260114669341301591119003120181200000011000120133215000000000002744621947383160202228101220283221500040110000010441551603210295251330396871715616109048126001810013514116321725882056371379463890132101548764102227823720534190250102186175643025115437414927874149702163502163492071932569272635099983214016804061468108431852291101106405202175816551621321231571611309470111283110562512812516426600104530700355214934100510000001903501115008000790071316280260262031108246224492812585913024689168830050351100010093225214938169282476659001184224281801484114061011422043818415141328121096297120773763814102892175324297011541001916762149641701077805701131646496010112135702116385104808535225133761132750206401541927660023553335066152040244223111215002252110524212782254910015800166131001201089201801015000300130000001000101200000000000917010903855010101000260206117251102801160184002134117102390318091338721588009105115581411138161000021304027460185013690141341701470001520202112238010755007010193260111130027500132166340008122002000010004005000671679144131801829725337951224024514730190122978613412042336758039170672169318293401426302246331939813933230104005004011868415314614410511219955104931845702414198732281789811613623653202179126529586412525241148916412248381636479260194555119211221013560644374932281559351134212611454716416722942141810216622675331171084683174190511254712317875198109165522317828107952242625431751313908738116140315974120111151217182230746312312294195191071706235187353145331560599810231396729076491144137912061168190650251438593121425222824064757951135182238452201228170047111134281563415810911624134291843685242264330108601024764135865067100232041523430563213120710313425201948605941137110351071625241414579431041031785121534119596179058634723331160217252195821229418434350512861338241283352151296132519711121741118379307301831131131211522434243386159033582213126213362019821917147129143375409102015101634919215811300012792331140151716321411257517056601539305351922101651116642440159121242024157264198107121161501454695913347490223381101383343010807853544073488041222123425958223912710230291825630061245126030929165601214130030130784001501263529041103200313200200007013030200101010002100010160170100800000010016051000000000000000000020010000000010010007239622111118216516461542154953029241031229918448111082975340255239119119313594433371422614385367110104700061002000202847452700001002006115101212001111424128000000722100198309500010000010000000270000000003800629107300006000121139101310535852246211822329023913111516495714142616156102920351064190005217577777551642956130943688946532612246539502038777618462572422261232343312912313454239414720022415923175207324071114618298667376961042502198303933772719516917817121687421921068763252217194541241813552585819138408251371462271431712833624444214110773109133434213196155417297551765247137168137121142426565151020086846891529057175599659105123821041231261188257773741545104893826614437121615821449176110143530310421043920601542229622441289222681501223222499109539053198703425886362517316220250430110551191697016277522436878931971125343992452882093533040805352993170513810

In [21]:
df

,id,name,rating,reviews,host_name,host_id,address,features,amenities,safety_rules,...,price,country,bathrooms,beds,guests,toiles,bedrooms,studios,checkin,checkout
0,49849504,Perla bungalov,4.71,64,Mehmetcan,357334205.0,"Kartepe, Kocaeli, Turkey","2 guests,2 bedrooms,1 bed,1 bathroom","Mountain view,Valley view,Lake access,Kitchen,...",",Airbnb's COVID-19 safety practices apply,,N...",...,8078,Turkey,1,1,2,0,2,0,Flexible,12 00 pm
1,50891766,Authentic Beach Architect Sheltered Villa with...,0.00,0,Fatih,386223873.0,"Ka, Antalya, Turkey","4 guests,2 bedrooms,2 beds,2 bathrooms","Kitchen,Wifi,Dedicated workspace,Free parking ...",",Airbnb's COVID-19 safety practices apply,,C...",...,4665,Turkey,2,2,4,0,2,0,4 00 pm - 11 00 pm,10 00 am
2,50699164,cottages sataplia,4.85,68,Giorgi,409690853.0,"Imereti, Georgia","4 guests,1 bedroom,3 beds,1 bathroom","Mountain view,Kitchen,Wifi,Dedicated workspace...",",Airbnb's COVID-19 safety practices apply,,N...",...,5991,Georgia,1,3,4,0,1,0,After 1 00 pm,12 00 pm
3,49871422,Sapanca Breathable Bungalow,5.00,13,Melih,401873242.0,"Sapanca, Sakarya, Turkey","4 guests,1 bedroom,2 beds,1 bathroom","Mountain view,Valley view,Kitchen,Wifi,Free pa...",",Airbnb's COVID-19 safety practices apply,,N...",...,11339,Turkey,1,2,4,0,1,0,After 2 00 pm,12 00 pm
4,51245886,Bungalov Ev 2,0.00,0,Arp Sapanca,414884116.0,"Sapanca, Sakarya, Turkey","2 guests,1 bedroom,1 bed,1 bathroom","Kitchen,Wifi,Free parking on premises,TV,Air c...",",Airbnb's COVID-19 safety practices apply,,C...",...,6673,Turkey,1,1,2,0,1,0,After 2 00 pm,12 00 pm
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12800,44697740,"Brown Dome House No. 3, full of healing",4.94,16,Aidan,161552316.0,"Imhoe-myeon, Jindo, South Jeolla Province, Sou...","4 guests,8 bathrooms","Kitchen,Wifi,Free parking on premises,Private ...",",Airbnb's COVID-19 safety practices apply,,C...",...,4288,South Korea,8,0,4,0,0,0,3 00 pm - 11 00 pm,11 00 am
12801,29975283,Bubble Hotel Ubud with Bathtub under the Sky,4.67,6,Martha,118954227.0,"Gianyar, Indonesia","2 guests,1 bedroom,1 bed,Toilet with sink","Wifi,Free on-street parking,Air conditioning,G...",",Airbnb's COVID-19 safety practices apply,,C...",...,15200,Indonesia,0,1,2,1,1,0,3 00 pm - 10 00 pm,12 00 pm
12802,32977697,Paradise Eco Hub,4.67,3,Silas,175214568.0,"Kabale, Uganda","2 guests,1 bedroom,2 beds,1 private bathroom","Wifi,Breakfast,Long-term stays allowed,Unavail...",",Airbnb's COVID-19 safety practices apply,,N...",...,9103,Uganda,1,2,2,0,1,0,After 3 00 pm,NaN
12803,8006146,WisDOME - Mentigi Bay Village - Gilis - Lombok,4.86,7,Cempaka,718423.0,"Gunung Sari, Nusa Tenggara Barat, Indonesia","8 guests,2 bedrooms,4 beds,2.5 bathrooms","Kitchen,Wifi,Dedicated workspace,Free parking ...",",Airbnb's COVID-19 safety practices apply,,C...",...,42262,Indonesia,2,4,8,0,2,0,Flexible,12 00 pm
12804,40547903,Enjoy Vitamin SEA! Ocean Front! [Ocean's Seven],4.85,13,Achy,246470880.0,"Uruma, Okinawa, Japan","5 guests,1 bedroom,2 beds,1 bathroom","Sea view,Beach access Beachfront,Kitchen,Wif...",",Airbnb's COVID-19 safety practices apply,,S...",...,9909,Japan,1,2,5,0,1,0,After 4 00 pm,11 00 am

In [23]:
len(df['id'])

12805

## To check unique values

In [24]:
df['id'].values

array([49849504, 50891766, 50699164, ..., 32977697,  8006146, 40547903])

# It will show the count of all unique values.

In [25]:
df['name'].value_counts()

name
Dorm Bed in Traditional Ger - Mongol Ujin Camp                               6
Haveli  - Large room in Art & Book filled mansion!                           5
The goat village Nagtibba By Bakri Chhap                                     4
InnerX-Stay, Floating Homestay in Lan Ha bay                                 4
Comfort room with breakfast included                                         3
                                                                            ..
Lalie Guest House - Complete House                                           1
Surfer's Dream                                                             1
Stunning modern 3 bedroom apartment in Netanya with spectacular sea views    1
Green Garden                                                                 1
Charming & comfortable bungalow                                              1
Name: count, Length: 12716, dtype: int64

# It

In [26]:
df[df['rating'] == New]

NameError: name 'New' is not defined

In [27]:
df.head()

,id,name,rating,reviews,host_name,host_id,address,features,amenities,safety_rules,...,price,country,bathrooms,beds,guests,toiles,bedrooms,studios,checkin,checkout
0,49849504,Perla bungalov,4.71,64,Mehmetcan,357334205.0,"Kartepe, Kocaeli, Turkey","2 guests,2 bedrooms,1 bed,1 bathroom","Mountain view,Valley view,Lake access,Kitchen,...",",Airbnb's COVID-19 safety practices apply,,N...",...,8078,Turkey,1,1,2,0,2,0,Flexible,12 00 pm
1,50891766,Authentic Beach Architect Sheltered Villa with...,0.00,0,Fatih,386223873.0,"Ka, Antalya, Turkey","4 guests,2 bedrooms,2 beds,2 bathrooms","Kitchen,Wifi,Dedicated workspace,Free parking ...",",Airbnb's COVID-19 safety practices apply,,C...",...,4665,Turkey,2,2,4,0,2,0,4 00 pm - 11 00 pm,10 00 am
2,50699164,cottages sataplia,4.85,68,Giorgi,409690853.0,"Imereti, Georgia","4 guests,1 bedroom,3 beds,1 bathroom","Mountain view,Kitchen,Wifi,Dedicated workspace...",",Airbnb's COVID-19 safety practices apply,,N...",...,5991,Georgia,1,3,4,0,1,0,After 1 00 pm,12 00 pm
3,49871422,Sapanca Breathable Bungalow,5.00,13,Melih,401873242.0,"Sapanca, Sakarya, Turkey","4 guests,1 bedroom,2 beds,1 bathroom","Mountain view,Valley view,Kitchen,Wifi,Free pa...",",Airbnb's COVID-19 safety practices apply,,N...",...,11339,Turkey,1,2,4,0,1,0,After 2 00 pm,12 00 pm
4,51245886,Bungalov Ev 2,0.00,0,Arp Sapanca,414884116.0,"Sapanca, Sakarya, Turkey","2 guests,1 bedroom,1 bed,1 bathroom","Kitchen,Wifi,Free parking on premises,TV,Air c...",",Airbnb's COVID-19 safety practices apply,,C...",...,6673,Turkey,1,1,2,0,1,0,After 2 00 pm,12 00 pm

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

In [2]:
import numpy as np
import pandas as pd
!git clone https://github.com/AshishJangra27/datasets

Cloning into 'datasets'...
remote: Enumerating objects: 328, done.
remote: Counting objects: 100% (93/93), done.
remote: Compressing objects: 100% (83/83), done.
remote: Total 328 (delta 19), reused 54 (delta 9), pack-reused 235 (from 1)
Receiving objects: 100% (328/328), 278.62 MiB | 17.05 MiB/s, done.
Resolving deltas: 100% (145/145), done.
Updating files: 100% (225/225), done.

In [3]:
pd.read_csv('/content/datasets/Airbnb/airbnb_v2.csv')

,Unnamed: 0,id,name,rating,reviews,host_name,host_id,address,features,amenities,...,price,country,bathrooms,beds,guests,toiles,bedrooms,studios,checkin,checkout
0,0,49849504,Perla bungalov,4.71,64,Mehmetcan,357334205.0,"Kartepe, Kocaeli, Turkey","2 guests,2 bedrooms,1 bed,1 bathroom","Mountain view,Valley view,Lake access,Kitchen,...",...,8078,Turkey,1,1,2,0,2,0,Flexible,12 00 pm
1,1,50891766,Authentic Beach Architect Sheltered Villa with...,New,0,Fatih,386223873.0,"Ka, Antalya, Turkey","4 guests,2 bedrooms,2 beds,2 bathrooms","Kitchen,Wifi,Dedicated workspace,Free parking ...",...,4665,Turkey,2,2,4,0,2,0,4 00 pm - 11 00 pm,10 00 am
2,2,50699164,cottages sataplia,4.85,68,Giorgi,409690853.0,"Imereti, Georgia","4 guests,1 bedroom,3 beds,1 bathroom","Mountain view,Kitchen,Wifi,Dedicated workspace...",...,5991,Georgia,1,3,4,0,1,0,After 1 00 pm,12 00 pm
3,3,49871422,Sapanca Breathable Bungalow,5.0,13,Melih,401873242.0,"Sapanca, Sakarya, Turkey","4 guests,1 bedroom,2 beds,1 bathroom","Mountain view,Valley view,Kitchen,Wifi,Free pa...",...,11339,Turkey,1,2,4,0,1,0,After 2 00 pm,12 00 pm
4,4,51245886,Bungalov Ev 2,New,0,Arp Sapanca,414884116.0,"Sapanca, Sakarya, Turkey","2 guests,1 bedroom,1 bed,1 bathroom","Kitchen,Wifi,Free parking on premises,TV,Air c...",...,6673,Turkey,1,1,2,0,1,0,After 2 00 pm,12 00 pm
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12800,12800,44697740,"Brown Dome House No. 3, full of healing",4.94,16,Aidan,161552316.0,"Imhoe-myeon, Jindo, South Jeolla Province, Sou...","4 guests,8 bathrooms","Kitchen,Wifi,Free parking on premises,Private ...",...,4288,South Korea,8,0,4,0,0,0,3 00 pm - 11 00 pm,11 00 am
12801,12801,29975283,Bubble Hotel Ubud with Bathtub under the Sky,4.67,6,Martha,118954227.0,"Gianyar, Indonesia","2 guests,1 bedroom,1 bed,Toilet with sink","Wifi,Free on-street parking,Air conditioning,G...",...,15200,Indonesia,0,1,2,1,1,0,3 00 pm - 10 00 pm,12 00 pm
12802,12802,32977697,Paradise Eco Hub,4.67,3,Silas,175214568.0,"Kabale, Uganda","2 guests,1 bedroom,2 beds,1 private bathroom","Wifi,Breakfast,Long-term stays allowed,Unavail...",...,9103,Uganda,1,2,2,0,1,0,After 3 00 pm,NaN
12803,12803,8006146,WisDOME - Mentigi Bay Village - Gilis - Lombok,4.86,7,Cempaka,718423.0,"Gunung Sari, Nusa Tenggara Barat, Indonesia","8 guests,2 bedrooms,4 beds,2.5 bathrooms","Kitchen,Wifi,Dedicated workspace,Free parking ...",...,42262,Indonesia,2,4,8,0,2,0,Flexible,12 00 pm
12804,12804,40547903,Enjoy Vitamin SEA! Ocean Front! [Ocean's Seven],4.85,13,Achy,246470880.0,"Uruma, Okinawa, Japan","5 guests,1 bedroom,2 beds,1 bathroom","Sea view,Beach access Beachfront,Kitchen,Wif...",...,9909,Japan,1,2,5,0,1,0,After 4 00 pm,11 00 am

In [8]:
df = pd.read_csv('/content/datasets/Airbnb/airbnb_v2.csv')

In [9]:
df.head()

,Unnamed: 0,id,name,rating,reviews,host_name,host_id,address,features,amenities,...,price,country,bathrooms,beds,guests,toiles,bedrooms,studios,checkin,checkout
0,0,49849504,Perla bungalov,4.71,64,Mehmetcan,357334205.0,"Kartepe, Kocaeli, Turkey","2 guests,2 bedrooms,1 bed,1 bathroom","Mountain view,Valley view,Lake access,Kitchen,...",...,8078,Turkey,1,1,2,0,2,0,Flexible,12 00 pm
1,1,50891766,Authentic Beach Architect Sheltered Villa with...,New,0,Fatih,386223873.0,"Ka, Antalya, Turkey","4 guests,2 bedrooms,2 beds,2 bathrooms","Kitchen,Wifi,Dedicated workspace,Free parking ...",...,4665,Turkey,2,2,4,0,2,0,4 00 pm - 11 00 pm,10 00 am
2,2,50699164,cottages sataplia,4.85,68,Giorgi,409690853.0,"Imereti, Georgia","4 guests,1 bedroom,3 beds,1 bathroom","Mountain view,Kitchen,Wifi,Dedicated workspace...",...,5991,Georgia,1,3,4,0,1,0,After 1 00 pm,12 00 pm
3,3,49871422,Sapanca Breathable Bungalow,5.0,13,Melih,401873242.0,"Sapanca, Sakarya, Turkey","4 guests,1 bedroom,2 beds,1 bathroom","Mountain view,Valley view,Kitchen,Wifi,Free pa...",...,11339,Turkey,1,2,4,0,1,0,After 2 00 pm,12 00 pm
4,4,51245886,Bungalov Ev 2,New,0,Arp Sapanca,414884116.0,"Sapanca, Sakarya, Turkey","2 guests,1 bedroom,1 bed,1 bathroom","Kitchen,Wifi,Free parking on premises,TV,Air c...",...,6673,Turkey,1,1,2,0,1,0,After 2 00 pm,12 00 pm